


// БИЗНЕС

.menubar {
    /* XyX */
  #catalogTreeView {
    margin: .5em;
    padding: .5em;
    border-bottom: 1px solid #bfc2ce;
    .tree-view-content { // ul.tree-view-content
      position: relative;
      font-size: 13px;
      padding: 0;
      .tree-node {
        margin-bottom: 10px;
        .tree-node-content {
          display: table;
          > span {
            display: table-cell;
          }
          .fa {
            width: 18px;
          }
          .tree-label {
            //padding-left: 7px;
            line-height: 1;
            position: relative;
            .dropdown {
              position: absolute;
              top: -3px;
              right: -20px;
            }
            u {
              text-decoration: none;
              background: #eee;
              padding: 2px;
              margin: -2px;
            }
          }
          &.tree-node-leaf {
            margin-left: 12px;
            margin-top: 5px;
            //margin-bottom: 15px;
          }
        }
      } // //.tree-node
      .tree-container {
        padding: 0;
        padding-left: 15px;
        padding-top: 10px;
        font-size: 95%;
      }
    } // ul.tree-view-content
    a {
      text-decoration: none;
      &:hover {
        color: #38898d;
      }
    }
    //dropdown menu for edit category
    .lfr-icon-menu {
      $lfri-height: 20px;
      $lfri-width: 20px;
      a .icon-monospaced,
      .icon-monospaced,
      .icon-monospaced .lexicon-icon {
        /* XxX */
        height: $lfri-height;
        line-height: $lfri-height;
        width: $lfri-width;
      }
      .icon-monospaced .lexicon-icon {
        padding: 5px;
      }

    }

  } //catalogTreeView
} // .menubar



.catalog-actions {
  & {
    padding: 0;
    border:none;
    background: transparent;
    //.box-shadow(none);
    @include box-shadow(none);

    .input-checkbox-wrapper {
      display:none;
    }
    .lfr-header-row-content {
      padding:0;
    }
  } //.well
  .btn,
  .form-control {
    font-size:14px;
  }
  .btn {
    @media (max-width: $screen-xs-max) {
      padding: 6px;
      //width: 40px;
      outline: 0;
      &.add-item {

      }
    }
  }
  .catalog-actions__toolbar {
      margin: 5px 0;
  }

  .catalog-actions__form {
    .input-append {
      > input {
        width:50%!important;
        margin-right:.2em;
        padding:0 .3em;
      }
    }
  }
  .catalog-actions__container {
    background: transparent;
    position: absolute;
    top: -10px;
    border: 0;
    right: 0;
    background: #fff;
    @include box-shadow(0 1px 20px 15px #FFFFFF);
    @media (max-width: $screen-xs-max) {
      .btn {
        width: 40px;
      }
      .icon-search {
        margin: 0;
      }
    }
  }
  .catalog-actions__displayStyle,
  .catalog-actions__search {
    @extend .pull-right;
    padding: 0;
    .form-control {
    }
  }
} // /.catalog-actions

//  ul => display-style-descriptive tabular-list-group
//  ul => display-style-icon list-unstyled row
.splitter,
.breadcrumbs {
  font-size: 80%;
  text-transform: uppercase;
  box-shadow: none;
  border: 0;

}
.breadcrumbs {
  //margin-left: 40px;
  margin-top: 5px;
}

// РЕЖИМ ПРОСМОТРА -- общие
.catalog-items {
  &,
  &.tabular-list-group,
  .card
   {
    @include box-shadow(none);
  }

  .management-bar-container { // sort & toggle-view
    .management-bar {
      font-size: 80%;
    }
  }

  .container-fluid-1280 {
    padding: 0;
  }

  @import "_portlet--element__catalog_items";

  .sticker {
    // width: 80px;
    // height: 80px;
    margin-bottom: .5em;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
  }

  h6 {
    font-weight: normal;
    font-size: 95%;
    &.item__mdf {
      font-size: 80%;
      line-height: 1.4;
      display: inline-block;
      margin: 5px 0;
      padding: 6px;
      background: #f5f5f5;
    }
  }
  .searchcontainer-content .btn {
    font-size: 80%;
    text-transform: uppercase;
    padding: 4px 8px;
    @media (max-width: $screen-xs-max) {

    }
  } // /.btn
}

// РЕЖИМ ПРОСМОТРА -- display-style-descriptive
.display-style-icon {
  li {
    float: left;
    width: 25%;
    //height: 220px;
    overflow: hidden;
    margin: 0;
    padding: 1.5em;
    position: relative;
    border: 1px solid #f0f0f0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    //background: rgba(0,0,0,0);
    //@include transition(background-color 0.3s);
    @include transition(all .15s linear);

    @media (max-width: $screen-xs-max) {
      width: 98%;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      border-top-color: transparent;
    }
    &:nth-of-type(4n+1) {
      border-left-color: transparent;
    }
    &:last-child {
      border: none;
      @include box-shadow(none);
    }

    &:after {
      content:'';
      position: absolute;
      background: $item__hover-bg;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 0;
      transform: scale(.9);
      @include transition(all 320ms ease-out);
    }

    &:hover:after {
      opacity: 1;
      transform: none;
    }
    &:active:after {
      transform: scale(.95);
    }

    &:hover {
      //@include box-shadow(0 1px 40px 0 rgba(0,0,0,.1));
      //background: rgba(0,0,0,0.05);
    }
    &:last-child:hover {
      @include box-shadow(none);
    }
    &:hover:before {
      //@include opacity(1);
      transform: none;
    }




    // &:before {
    //   content: '';
    //   position: absolute;
    //   height:10px;

    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   z-index: 10;
    //   background:$white;
    //   @include box-shadow(1px -5px 20px 5px $white);
    // }
    // &:hover {
    //   @include box-shadow(0 1px 40px 0 rgba(0,0,0,.1));
    //   //background: rgba(0,0,0,0.05);
    // }
    // &:last-child:hover {
    //   @include box-shadow(none);
    // }
    // &:hover:before {
    //   //@include opacity(1);
    //   transform: none;
    // }




    h6:nth-of-type(1) {
      overflow: hidden;
      line-height: 1.4;
      line-height: 1.5;
      height: 24px;
    }
    h5 {
      max-height: 40px;
      overflow: hidden;
      a {
      }
    }

    .lfr-icon-menu {
      position:absolute;
      right:15px;
      bottom:0;
      z-index: 99;
      @include box-shadow(0 0px 20px 10px $item__hover-bg);
      @include transition(all 320ms ease-out);
      opacity: 0;
    }
    &:hover .lfr-icon-menu {
      opacity:1;
      transform: translate(0,-15px);
    }

  } // /.li
} // /.display-style-icon

.display-style-icon li.entry-card,
.display-style-icon li.lfr-asset-item {
  //width: 32%;
  height: inherit;
  > div {
    position: relative;
    background: transparent;
    margin-bottom: 0;
    z-index: 1;
    .card-row-layout-fixed .lfr-card-actions-column {
      width: 10px;
    }
  .card {
    background: transparent;
  }
  .taglib-vertical-card-footer {
    min-height: 1em;
  }
  .card-col-content {
    padding: 0;
  }

  }
  .lfr-icon-menu {
    right: -20px;
    top: 15px;
    box-shadow: initial;
  }
}


// РЕЖИМ ПРОСМОТРА -- display-style-descriptive

.display-style-descriptive {
  &.tabular-list-group {
    $tabular-list-group-border-width: 0;
    $list-group-border: 0;
    //$tabular-list-group-item-height: 100px;
    @include box-shadow(none);

    > li,
    .list-group-item {
      border-width: 0;
      display: table-row;
      height: $tabular-list-group-item-height;
      padding: 0;

      &:first-child {
        .list-group-item-content,
        .list-group-item-field {
          border-top: $tabular-list-group-border-width solid $list-group-border;
        }
      }
    }
    .list-group-item-field,
    .list-group-item-content {
      border: 0;
      border-top: 3px solid #f0f0f0;
    }
    .list-group-item:first-child .list-group-item-field,
    .list-group-item:first-child .list-group-item-content {
      border: 0;
    }

    > li,
    .list-group-item {
      .sticker-lg {
        height: $tabular-list-group-item-height * .5;
        line-height: $tabular-list-group-item-height * .5;
        width: $tabular-list-group-item-height * .5;
      }
    } // li
  } // .tabular

  .list-group-item {
    .item {
      &__heading {
        font-size: 130%;
      }

    }
  }


} // /.display-style-descriptive
