  // private-messaging-portlet
  // --------------------------------------------------
    .private-messaging-portlet {
      .controls {
        padding:.5em;
        
        .control-group {
          padding:0;
          &:first-child {
            margin: 0 1em 0 .2em;
              display: inline;
          }
        }
        .btn:not(.btn-primary) {
          @extend .btn-primary-bright;
        }
      }
      .button-holder:not(.controls) {
        .btn {
          @extend .btn-lg;
        }
      }
      .thread .taglib-header {
        height: 50px;
        line-height: 50px;
      }
      .message {
        background:#ccc;
        margin-left: 70px;
        
        .author-sender, 
        .name,
        .body {
        }
        .body {
          clear: both;
            float: left;
            margin-top: -40px;
        }
      }
    
    }

