

.form_edit {
  background: transparent;
  border: 4px dotted #ccc;
  box-shadow: none;
}

.form_edit {
  //.lfr-ddm-field-group
  .lfr-input-text
  , select {
    padding: 6px 4px;
    font-size: 16px;
  }
  .input.form.control
  , .lfr-input-text
  , select {
    border: 1px solid #6A708B;
    border-width: 0 0 2px 0;
    border-radius: 0;
    box-shadow: none;
    background: rgb(248, 248, 248);
  }
  select
  , input.lfr-input-text {
    //height: 40px;
  }

  .dl-horizontal {
    margin-bottom: 0;
  }
  .lfr-ddm-field-group {
    margin-bottom: 0;
  }

}

.form_edit select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 18px auto;

  height: 36px;

  padding-bottom: 0;
  padding-right: 18px;
  padding-top: 0;
  
  font-size: 16px;

  @include select-box-icon($input-border);

  &:focus {
    @include select-box-icon($input-border-focus);
  }

  &::-ms-expand {
    display: none;
  }

  &[multiple] {
    background: none;
    padding: $input-padding-vertical $input-padding-horizontal;
  }
}

.form_edit select:focus {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='512'%20height='512'%20viewBox='0%200%20512%20512'%3E%3Cpath%20class='lexicon-icon-outline'%20d='M347.913%20199.336l-81.538-85c-5.413-5.642-14.188-5.642-19.6%200l-81.538%2085c-8.731%209.101-2.548%2024.664%209.8%2024.664h163.077c12.348%200%2018.531-15.563%209.8-24.664zM165.236%20312.664l81.538%2085c5.412%205.642%2014.188%205.642%2019.6%200l81.538-85c8.731-9.101%202.548-24.664-9.8-24.664H175.035c-12.347%200-18.531%2015.563-9.8%2024.664z'%20fill='%2344A5AA'/%3E%3C/svg%3E");
}


.form_edit .lfr-input-text:focus {
  box-shadow: none;
  color: #44A5AA;
  border-color: #44A5AA;
}


.form_edit {
  .alert {
    font-size: 100%;
  }
}


.form_edit dt {
  line-height: 40px;
  font-size: 110%;
  color: #6A708B;
  }


.form_edit .fieldset {
  .lfr-form-row {
    padding-top: 0;
    padding-bottom: 2px;
    padding-right: 100px;
    margin-top: 0;
    border: 0;
    &:hover {
      border: 0;
    }
    &:after {
      content: '';
      position: absolute;
      left:0;right:0;bottom:0;
      height: 1px;
      background: $nav-tabs-border-color;
    }
    .lfr-form-row-inline .form-group{
      margin-bottom: 0;
      display: block;
    }
  }
  .form-group-inline {
    
  }
  .form-group {
    margin-bottom: 10px;
    // margin-right: 0; 
    // display: block; // .lfr-form-row-inline
  }

  .radio-inline {
    margin-bottom: 10px;
  }

  input{
    //@extend .input-sm;
    @include input-size('.input-sm', $input-height-small, $padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $input-border-radius-small);
  }
  label, .control-label{
    font-size: 100%;
  }
  .form-control, select.form-control {
    font-size: 100%;
    height: 30px;
  }

  .lfr-autorow-controls {
    top: 50%;
    margin-top: -16px;
  }
  .btn {
    @extend .btn-xs;
    outline: 0;
    margin-right: .5em;
    padding: .25em .5em;
    line-height: normal;
  }
  .undomanager {
    .alert {
      font-size: 80%;
    }
  }
  

}




