//
// Zayavka
// --------------------------------------------------
$border-color: #f0f0f0;

@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

//@import "../elements/progress-bars";
@import "../elements/navs";

// Общий layout (раскладка) для портлетов
// верстка -> themes/psdxpftl-theme/src/layouttpl/custom/
@import "portlet-zayavka__layout";

// UI
@import "portlet-zayavka__ui-statuses";
@import "portlet-zayavka__ui-btns";

// СПИСОК ЗАЯВОК
@import "portlet-zayavka__list";
// ЗАЯВКА
@import "portlet-zayavka__entry";
@import "portlet-zayavka__entry-LP";

// Поиск поставщиков
@import "portlet-zayavka__findContractors";

.layout_zayavkas {
  background: $white;
}

.zaya_head {
  //margin: 0 -15px;
  margin: 0;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;

  padding: 1.25em 2em;
  min-height: 80px;
  @media (max-width: $screen-xs-max) {
    //margin-top: -14px;
  }
}


.zaya_head {
  color: #ffffff;
  border-bottom: 2px solid transparent;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);

  background-size: cover;

  @media (max-width: $screen-xs-max) {
    font-size: 70%;
    margin: 0;
  }
  & {
    // background-color: #039be5;
    background: url(../images/_ps/header-bg.png), -webkit-linear-gradient(left, #3023AE 0%, #53A0FD 48%, #B4EC51 100%);
    background: url(../images/_ps/header-bg.png), -o-linear-gradient(left, #3023AE 0%, #53A0FD 48%, #B4EC51 100%);
    background: url(../images/_ps/header-bg.png), linear-gradient(to right, #3023AE 0%, #53A0FD 48%, #B4EC51 100%);
  }

  &.zaya_head__offer {
    background-color: #7eb462;
  }

  .zaya_sell &,
  .b-zaya_sell & {
    background: url(../images/_ps/header-bg.png), -webkit-linear-gradient(44deg, #3023AE 0%, #C86DD7 100%);
    background: url(../images/_ps/header-bg.png), -o-linear-gradient(44deg, #3023AE 0%, #C86DD7 100%);
    background: url(../images/_ps/header-bg.png), linear-gradient(134deg, #3023AE 0%, #C86DD7 100%);
    .zaya-head__caption {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  // &.head_Employee {
  //   background-color: #35b17f;
  // }
  // &.head_Approver {

  //   background-color:#bb3b98;
  // }


  img {height: 50px;}
  h1, h2, h3, h4, h5, h6 {
    //line-height: $line-height-base;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    small {
      color: $white;
      margin: 24px;
      font-size: 60%;
    }
  }

  .zaya-info {
    &__item {
      font-size: 80%;
      margin-bottom: .25em;
      overflow: hidden;
    }
    &__title-item {
      font-style: italic;
      opacity: .5;
      float: left;
      text-align: left;
      display: inline-block;
    }
    &__value-item {
      margin-left:3px;
      display: inline-block;
      }
  }
}


.zaya_body {
  margin-top: 20px;
  @media (max-width: $screen-xs-max) {
    margin-top: 0;
    }
}


.zaya_sidebar {
  h3 {
    font-size: 80%;
    text-transform: uppercase;
  }
}



// Zayavki nav
// -------------------------
// .nav-zaya {
//   margin: 0;
//   min-height: 30px;
// }



// .nav-zaya {
//   &__labels_toggle {
//     display: block;
//     margin: 20px 0 10px 10px;
//     font-size: 11px;
//     text-transform: uppercase;
//     font-weight: 500;
//     opacity: .6;
//     @media (max-width: $screen-xs-max) {
//       position: absolute;
//       right: 20px;
//       top: 0;
//       padding-right: 20px;
//       &:before {
//         content: '\e114';
//         font-family: 'Glyphicons Halflings';
//         position: absolute;
//         right: 0;
//       }
//       &.open:before{
//         content: '\e113';
//       }
//     }
//   }
// } // .nav-zaya



// .zaya_sidebar {
//   // LIST STYLIZE
//   .zaya-labels_list {
//     margin: 0;
//     padding-bottom: 1em;
//     border-bottom: 1px #ccc dashed;
//     width: 220px;
//     @media (max-width: $screen-sm-max) {
//       width: 100%;
//     }

//     li {
//       white-space: nowrap;
//       position: relative;
//       font-size: 80%;
//       text-transform: uppercase;
//       a.label-item {
//         //color: #333;
//         overflow: hidden;
//         &__icon,
//         .flabel {
//           margin-right: 5px
//         }
//         &__count,
//         .badge {
//           font-size: 70%;
//           font-weight: normal;
//           border-radius: 0;
//           position: absolute;
//           top: 10px;
//           right: 10px;
//           background: lighten($badge-bg, 20%);
//           box-shadow: 4px 0 15px 15px #fff;
//         }
//         &:hover,
//         &:focus {
//           text-decoration: none;
//           background-color: $nav-link-hover-bg !important;
//           .label-item__count,
//           .badge {
//             box-shadow: 4px 0 15px 15px $nav-link-hover-bg;
//           }
//         }
//       } // a
//         &.active a {
//           text-decoration: none;
//           background-color: $nav-link-hover-bg !important;
//           .badge {
//             box-shadow: 4px 0 15px 15px $nav-link-hover-bg;
//           }
//         }


//     } // li
//   } //__labels_list
//   li .fa{
//     color: #CCC
//   }

//   // Nav icon
//   // --------------------------------------------------
//   ul > li {
//     a {
//       padding-left: 32px;
//       line-height:  1.3em;
//       .fa,
//       .zmdi,
//       .glyphicon {
//         position: relative;
//         width: 32px;
//         text-align: center;
//         margin-left: -32px;
//         float: left;
//         font-size: 1em;
//       }
//     }
//   }

// } // .zaya_sidebar




// Zayavki list
// -------------------------

// .list-zaya {
//   margin-bottom: 20px !important;
//   background: transparent;
//   box-shadow: none;

//   .table-striped > tbody > tr:nth-of-type(odd) {
//       background-color: #fff!important;
//   }

  //Анимация при загрузке
  //@include each-anim(list-group-item);



  // .list-group-item {
  //   position: relative;
  //   border:none;
  //   height: 120px;
  //   background: transparent;
  //     @media (max-width: $screen-md-min) {
  //       height: 100px;
  //       }
  //     @media (max-width: $screen-sm-min) {
  //       height: 150px;
  //       }
  //   //overflow: hidden;

  //   a {
  //     position: absolute;
  //     top: 0; left: 0; right: 0; bottom: 0;
  //     padding: 5px 20px 20px 20px;
  //     line-height: 1.4;
  //     z-index: 1;
  //    }

  //   &:after {
  //     content: ' ';
  //     position: absolute;
  //     background: rgba(0, 0, 0, 0.02); //$list-group-hover-bg;
  //     top: 0;
  //     bottom: 8px;
  //     left: 0;
  //     right: 0;
  //     opacity: 0;
  //     z-index: 0;
  //     -webkit-transform: scale(0.9);
  //     @include transition(all 320ms ease-out);
  //   }

  //   //body.loaded {
  //   &:hover:after {
  //     opacity: 1;
  //     -webkit-transform: none
  //   }
  //   &:active:after {
  //     @include transform(scale(.95));
  //   }
  //   //}
  //   a:hover,
  //   a:focus {
  //     text-decoration: none;
  //     color: $list-group-link-hover-color;
  //     //background-color: $list-group-hover-bg;
  //       &:before {
  //         @include gradient-horizontal(rgba(255, 255, 255, 0), rgba(245, 245, 245, 1))
  //       }
  //     }
  //   a:hover {
  //     //box-shadow: 0 4px 12px rgba(51,51,51,.14);
  //     }
  //   a:active {
  //     //box-shadow: 0 4px 12px rgba(51,51,51,.14);
  //       @include transform(scale(.95));
  //       @include transition(transform 320ms ease-out);
  //     }

  //   a:first-child {
  //     border-top: none;
  //   }

  //   h2, h3, h4, h5, h6 {
  //     margin-top: 0;
  //     margin-bottom: 5px;
  //   }

  //   h4 {
  //     max-height: 40px;
  //     overflow: hidden;
  //     position: relative;
  //     margin-right: 40px;
  //     &:after {
  //       content: '';
  //       position: absolute;
  //       left: 0;
  //       right: 0;
  //       top: 35px;
  //       width: 100%;
  //       height: 10px;
  //       background: $white;
  //       box-shadow: 0px 5px 20px 15px $white;
  //     }
  //     &:hover &{

  //     }
  //   }

  //   h5 {
  //     font-size: 80%;
  //     display:inline-block;
  //     padding: ($card-gutter-width / 4);
  //     background:#f5f5f5;
  //     margin-left: -10px;
  //   }
  //   &:hover h5 {
  //     //background:#fff;
  //   }

  //   p {
  //     color: lighten($text-color, 50%);
  //     margin-bottom: 0px;
  //     line-height: 1.3;
  //     white-space: nowrap;
  //     overflow: hidden;
  //   }

  //   @media (max-width: $screen-sm-min) {
  //       h4 {
  //         max-height: 50px;
  //         line-height: 1;
  //       }
  //       h5
  //       , span.status{
  //         margin: 0 0 .5em 0;
  //       }
  //       .status {
  //         display: block;
  //       }
  //     }


  //   .stick-top-left,
  //   .stick-bottom-right {
  //     display:none;
  //   }

  //   .zdate {
  //     @include text-emphasis-variant('.zdate', $gray-light);
  //     //@include text-emphasis-variant('.zdate', $gray-light);
  //     font-size: 75%;
  //     padding: ($card-gutter-width / 4);
  //     position: absolute;
  //     top: 5px;
  //     right: 5px;
  //     span {
  //       @media (max-width: $screen-md-max) {
  //         display: none;
  //       }
  //     }
  //   }

  //   .divider {
  //     position:absolute;
  //     bottom: 10px;
  //     left: 10px;
  //     right: 10px;
  //     //width: 100%;
  //     span {
  //       //margin-right: 10px;
  //       width: 130px;
  //       font-size: 85%;
  //       float: left;
  //       text-transform: lowercase;
  //     }
  //     .progress {
  //       margin: 0;
  //       margin-top: 6px;
  //       height: 4px;
  //     }
  //     .progress-bar {
  //     }
  //   }

  //     span.status {
  //       //margin-right: 10px;
  //       width: 130px;
  //       font-size: 75%;
  //       margin: 0 1em;
  //       padding: 6px;
  //       //background: #f5f5f5;
  //       text-transform: uppercase;

  //       @media (max-width: $screen-xs-max) {
  //         margin: 0 0 .5em 0;;
  //         &.user {
  //             width: initial;
  //         }
  //       }

  //       i {
  //         display: none;
  //       }
  //       &.user {
  //         color: lighten($text-color, 50%);
  //         padding: 0;
  //         i {
  //           display: inline-block;
  //           margin-right: 5px;
  //         }
  //       }
  //     } // .status


  // } //.list-group-item

//}

  // .zaya_sell_{
  //   .list-zaya {
  //     h5 {
  //       display:none;
  //     }
  //     .zdate{
  //       position: relative;
  //       top: 0;
  //       margin: 0;
  //       padding: 0 6px;
  //     }
  //   }
  // }

















/* DATABLE
---------------
*/

#offers_list2_wrapper {

}
//Несколько поставщиков
.offers2 {
  margin-top:-45px
}

.dataTables_scrollHead {
    background:transparentize($black, .95); //fade($black, 5%);

}


.offers {
  //margin-top:-50px;
  background: $white;
  table {
    table-layout: fixed;
    border-collapse: collapse;
  }
    th {
      font-size: 80%;
    }
    .dataTables_info {
      font-size: 80%;
    }
    tr{
      .t_idx {
        width: 10px;
        font-size: 80%;
        padding: 0 0 0 5px;
        text-align: right;
        color: $gray-light;
        }
      .t_name {
        width: 200px;
        font-size: 80%;
      }
      .t_suppl{}
      .highlight {
          background: rgba(0, 204, 255, 0.1)!important;
          //color: $white;
          .name-wrap:after {
            @include gradient-horizontal(rgba(255, 255, 255, 0), $gray-lightest)
          }
      }
      .cell {
         color:red;
      }
      .t_name{
        @include text-overflow();
        position:relative;
          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            z-index: 10;
            @include gradient-horizontal(rgba(255, 255, 255, 0), #ffffff);
          }
      }
    } //.tr

    tbody tr.odd .t_name:after {
      @include gradient-horizontal(rgba(255, 255, 255, 0), $table-bg-accent);
    }
    tbody tr:hover .t_name:after,
    tbody tr.odd:hover .t_name:after,
    tbody tr.even:hover .t_name:after {
      @include gradient-horizontal(rgba(255, 255, 255, 0), shade($table-row-background, 3.6%));
      &.selected {
        background-color: shade($table-row-selected, 3.6%);
        color: contrast(shade($table-row-selected, 3.6%), $text-color, $white, $color-threshold);
      }
    }

    .dataTables_scrollHead .t_name:after{
      display:none
    }
    .dataTables_scrollBody {
        th {
          background: $white;
        }
    }
    .dataTables_scrollBody .table {
      margin-top: -15px;
      }



    table.dataTable tbody td {
        padding: 3px 10px;
    }



    .dataTables_scrollHead {
      //.box-shadow($z-height-panel);
    }


    .dataTables_scrollFoot {
      //.box-shadow($z-height-panel-inverse);
      > div {
        border-top: 4px solid rgba(0, 0, 0, 0.2);
      }

      .table > tfoot > tr > th,
      .table > tfoot > tr > td {
        padding: $table-condensed-cell-padding/2;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid rgba(189, 192, 193, 0.2);
      }
      .t_suppl {
        font-weight:normal;
      }
    }

      .t_suppl .fa {
        margin: 0 .5em;
      }

      #ejbeatycelledit {
        width: 70px;
      }

    #postconditions {
      thead{
          display:none;
      }
      .t_name {
        width: 73%;
        text-align: right;
      }
    }


} //.offers



.popover {
  width: 300px;
  .popover-content {
    dl.offers_list__suppl {
      font-size: 90%;
      dd {
        @include clearfix(); // Clear the floated `dt` if an empty `dd` is present
      }
      dt {
        float: left;
        width: 100px;
        padding-top: 5px;

        color: $gray-light;
        font-size: 80%;
        font-weight: normal;

        line-height: 1.1;
        clear: left;
        text-align: right;
        //.text-overflow();
      }
       dd {
        margin-left: 110px;
        margin-bottom: 5px;
      }

    }
  }
}









@media (max-width: $screen-sm-min) {
  .modal .zayavka .st {
    font-size: 85%;
    li {
      display:block;
      text-align:right;
    }
  }
  .zaya-desc {
    font-size: 1em;
    .nav-tabs {
      position:relative;
      top: 0;
      left: 0;
      z-index: 1200;
      > li > a {
        padding: 10px 5px;
        font-size: 85%;
      }
    }
    .tab-pane {
      margin-top: 0;
      min-height:auto;
    }
    .offers {
      margin-top: 0;
    }
  }
}

// Extra Small Devices Only
// -------------------------

@media (max-width: $screen-xs-max) {
  .card-head {
    header {
      font-size: 16px;
    }
  }
  .modal .zayavka h3 {
    margin:.5em 0;
    font-size: 110%;
  }


.zaya-desc {
  font-size: 1em;
  .tab-content {
    padding: 12px 4px;
  }

  .docs{
    &.docs-underlined > div {
      padding: 5px 0;
    }
    .fa {
      font-size: 1.2em;
      margin-top: .4em;
    }
  }
}


.offers {
  tr{
    .name {
      width: 100px;
      }
  }
}




}



.request-number {
	line-height: 1.4;
	border-radius: 10px !important;
	padding: 2px 7px !important;
	background-color: #806cc5;
	border-color: #806cc5;
	color:#fff;
	text-transform: uppercase;
	font-size: 80%;
}

.request-number__inlists {
	display: block;
	float: left;
	margin: 1px 7px 0px 0px;
}

.taglib-header {
	margin: 0px -23px 0px -24px !important;
	padding: 0px 0px 2px 22px !important;
}

.zaya-head__caption {
	display: block;
	font-size: 13px;
	font-style: italic;
	color: #9fc5f0;
}
