// СПИСОК ЗАЯВОК

@import 'portlet-zayavka__ui-statuses';

$b-tags__item-bg: #f5f5f5;
// $screen-sm-max: 768px;
.btn-zaya_new {
  font-size: 14px;
  padding: 3px 6px;
  margin-bottom: 10px;
}

.zaya_content .search-results {
  display: none;
}

// LEFTCOL
.b {
  &-tags { //b-zayaUsers__
    list-style: none;
    //width: 220px;
    padding-bottom: .5em;
    margin: 0;
    margin-bottom: 2em;
    //border-bottom: 1px #ccc dashed;

    font-size: 80%;
    text-transform: uppercase;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
    small { opacity: .5 }
    &__item {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
        &-icon {
          width: 16px;
          margin-right: 5px
        }
        &-count {
          position: absolute;
          top: 10px;
          right: 10px;
          background: lighten($badge-bg, 10%);

          font-size: 70%;
          font-weight: normal;
          border-radius: 0;
          box-shadow: 4px 0 15px 15px #fff;
        }
    }
    &__link {
      color: #2B4259;
      display: block;
      padding-left: 10px;
      padding-right: 16px;
      padding-bottom: 9px;
      padding-top: 9px;
      &:hover,
      &:focus,
      .is-active & {
        text-decoration: none;
        background-color: $b-tags__item-bg !important;
        .b-tags__item-count {
          box-shadow: 4px 0 15px 15px $b-tags__item-bg;
        }
      }
    } //link
  }
  &-zayaStatus,
  &-zayaUsers {
    list-style: none;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;

    font-size: 80%;
    text-transform: uppercase;
    small { opacity: .5 }

    &__item {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      &-icon {
        width: 16px;
        margin-right: 0;
      }
      &-count {
        position: absolute;
        top: 10px;
        right: 10px;
        background: lighten($badge-bg, 10%);

        font-size: 70%;
        font-weight: normal;
        border-radius: 0;
        box-shadow: 4px 0 15px 15px #fff;
      }
    }
    &__link {
      color: #2B4259;
      display: block;
      padding-left: 10px;
      padding-right: 16px;
      padding-bottom: 9px;
      padding-top: 9px;
      &:hover,
      &:focus,
      .is-active & {
        text-decoration: none;
        background-color: $b-tags__item-bg !important;
        .b-zayaStatus__item-count,
        .b-zayaUsers__item-count {
          box-shadow: 4px 0 15px 15px $b-tags__item-bg;
        }
      }
    } // .link

    &.is {

    }
    &.group--more {

    }
    &-group {
      position: relative;
      .b-zayaUsers__search-input {
        padding: 4px 6px;
        margin-bottom: 5px;
        font-size: 11px;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,.15);
        box-shadow: inset 0 1px 3px rgba(0,0,0,.09);
      }
      .b-zayaUsers__search-input {
        transition: all 0.2s ease-in-out;
        background: rgba(255, 255, 255, 0.2);
        border: 0;
        color: teal;
        padding: 0.5rem 0;
        width: 0;
      }
      &.is-open .b-zayaUsers__search-input {
        padding: 0.5rem;
        width: 12rem;
      }
    }
    &-group--scroll {
      height: 165px;
      overflow-y: scroll;
    }
  } //-zayaStatus, -zayaUsers
}



// RIGHTCOL

.zaya_layout {
  .col-f_results {
    margin-top: 1em;
  }
  .col-s_results {

  }
  .psearch {
    position: absolute;
    right: 20px;
    width: 450px;
    top: -43px;
    padding: 0 15px;
    margin: 0;
    margin-bottom: 1em;
    &__select-type {
      .btn {
        padding: 4px 10px;
        padding-left: 0;
        border: 0;
        background: transparent;
        span {
          font-size: 80%;
          margin-right: 5px;
        }
      }
    }
    &__search-input {
      .form-group {
        margin-bottom: 0;
      }
      .field.form-control {
        font-size: 100%;
        height: 35px;
        padding: 0;
      }
    }
    &__search-btn {
      .btn {
        height: 35px;
        padding: 0 10px;
        height: 35px;
      }
    } //
  }
  // ПРОДАЮ
  &.b-zaya_sell,
  &.b-zaya_LP {
    .psearch {
      position: relative;
      margin-top: 1em;
      top: 0;
    }
  }

  .s_results__total {
    display: none;
  }
}


.b {
  &-zayalist {
    margin: 0 -15px;

    &__item__link {
      color: #969B9F;
      transition: .25s ease;
      &:hover, &:active, &:focus {
       color: #969B9F;
       text-decoration: none;
       transition: .25s ease;
      }
    }
    &__item {
      position: relative;
      color: #969B9F;
      //background: #eee;
      //margin-bottom: .5em;
      padding: .75em;
      //padding-top: .25em;
      //height: 90px;
      &:before {
        content: ' ';
        position: absolute;
        background: rgba(0, 0, 0, 0.02);
        top: 0;
        bottom: 8px;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 0;
        transform: scale(0.9);
        transition: all 320ms ease-out;
        &__item:hover & {
          opacity: 1;
          z-index: 1;
          transform: scale(1);
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        background-color: #f5f5f5;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
      }

      &__row {
        margin: 0!important;
        line-height: 25px;
        > * {
          float: left;
          margin-right: 20px;
          //margin-bottom: 3px;
          display: block;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      &__org,
      &__user,
      &__status {
        //height: 25px;
        font-size: 80%;
      }

      &__label {
        padding: 2px 4px;
        //font-size: 70%;
        line-height: 24px;
        text-transform: uppercase;

        .b-zayalist__item__org & {
          background: #f5f5f5;
          border: 1px solid #f5f5f5;
        }
        .b-zayalist__item__status & {
          //font-size: 85%;
        }
      }

      &__org {
        margin-left: 0;
        //color: #323536;
        max-width: 110px;
        overflow: hidden;
        font-size: 70%;
        text-overflow: ellipsis;
      }
      &__user {
        //position: absolute;
        //left: 110px;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: #fff -10px 0 10px;
      }

      &__status {
        //position: absolute;
        //left: 300px;
        font-size: 70%;
        box-shadow: #fff -10px 0 10px;
        @media (max-width: 767px) {
           //left: 80%;
        }
      }
      &__number {
        width: 90px;
        line-height: 26px;
        //height: 25px;
        color: #788096;
      }
      &__title {
        //color: #6A708B;
        color: #6A708B;
        font-size: 130%;
        font-weight: 500;
        text-overflow: ellipsis;

        //position: absolute;
        //left: 110px;
        //right: 0;

        //width: 80%;
        //height: 25px;
        overflow: hidden;

        a:hover & {
          color: #FF7171;
          transition: .25s ease;
        }
      }
      &__creDate,
      &__endDate,
      &__countdown {
        font-size: 80%;
        &-title {
          margin-right: 5px;
          font-weight: 300;
        }
        &-date {
          font-weight: 500;
        }
      }
      &__endDate,
      &__countdown {
        position: relative;

        .b-zaya_request & {
          position: absolute;
          right: 0;
          left: initial;
        }
        .b-zaya_sell & {
          position: relative;
        }
      }



      &__delivers {
        font-size: 80%;
      }

      .is-right {
        position: absolute;
        right: 0;
        left: initial;
      }


      &-icon,
      .zmdi {
        margin-right: 3px;
      }

    }
  }
}

.b {
  &-zayalist {
    &__item__link {
      &:after {
        content: ' ';
        position: absolute;
        background: rgba(0, 0, 0, 0.03); //$list-group-hover-bg;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 0;
        transform: scale(0.9);
        transition: all 320ms ease-out;
      }
      //body.loaded {
      &:hover:after {
        opacity: 1;
        transform: none;
      }
      &:active:after {
        transform: scale(.95);
      }
    }
  }
}

// MOBILE

@media (max-width: $screen-sm-max) {
  .zaya_content .psearch {
    position: relative;
    //right: 20px;
    width: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    margin-top: .5em;
    margin-bottom: 1em;
  }
  .b {
    &-zayalist {
      &__item {
        height: initial;
        &__row > * {
          float: none;
        }

        &__title,
        &__user,
        &__countdown,
        &__creDate,
        &__endDate,
        .b-zaya_request &__endDate,
        .b-zaya_request &__countdown {
          position: relative;
          left: 0;
        }
        &__status {
          position: absolute;
          left: initial;
          right: 0;
          top: 10px;
        }

      } // __item
    }
  }
}

