.portlet-document-library {
  @import "portlet-company__lf-ui";
  //@import "../css/btns";
  max-width: 1280px;
  .form .lfr-icon-menu a {
    //color: #fff!important;
  } //Левая колонка
  .navigation-pane {
    .well {
      padding: 10px;
    }
  } //Правая колонка
  .context-pane {
    .control-group {
      margin-bottom: 0;
    }
    .subscribe-action {
      padding: 1em 0;
    }
    // #_20_rjus_column1_0 {
    //   //кнопка Подписаться
    //   @extend .btn,
    //   .btn-success;
    //   color: #fff!important;
    //   text-decoration: none;
    //   padding: 10px 10px;
    //   margin: 0 1em;
    // }
    .app-view-taglib .navbar {}
  }
  /* .context-pane */
  .taglib-header .header-title {
    line-height: 40px;
    height: 40px;
  }
  .app-view-taglib {
    margin: 0;
    .btn {
      //@extend .btn-primary-bright, .btn-sm;
      margin: .8em 1em 0 0;
    }
    .input-append {
      display: block;
    }
    .input-append .search-query {
      margin: .8em 1em 0 0;
      width: 60%;
      padding: .25em;
    }
    .input-append .btn {
      float: right;
    }
  }
  .document-container {
    /* Список документов */
    .control-group {
      position: static;
    }
    .form .entry-action a {
      color: #fff;
    }
  }
  .document-info {
    margin: .5em 0 1em 0;
    background: none;
    .document-title {
      text-shadow: inherit;
    }
  }
  .asset-details .asset-details-content {
    >div,
    >span {
      margin-bottom: .5em;
    }
    .webdav-url {
      display: block;
      margin-bottom: 1em;
    }
    .control-group {
      margin: 1em 0;
    }
  }
  .document-entries-pagination {
    height: 40px;
    color: red!important;
    margin: 4em 0;
    .btn {
      color: #0092c2!important;
      @extend .btn-primary-bright;
    }
    .pagination-content {
      //@extend .pagination;
    }
  }

} //.portlet-document-library