.findedContr {
  &__total {
    color: #696f8b;
    line-height: 40px;
    font-size: 90%;
  }
  &__list {
    margin: 0;
    padding: 0;
    padding: 2em 0;
    margin-bottom: -150px;
    padding-bottom: 150px;
    padding-top: 0;
    margin-top: -1em;
  }
  &__item {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    //align-items: center;
    //align-content: center;
    border-bottom: 1px solid #eee;
    > {
      div {
        // order: 0;
        align-self: auto;
        justify-content: left;
        //margin-right: 1em;
        //padding-left: 1em;
        margin: 0;
        padding: 1.5em 0;
      }
      .findedContr__select {
        width: 40px;
        justify-content: center;
        padding-top: 2em;
      }
      .findedContr__Contractor {
        width: 40%;
        max-width: 425px;
        /*border-right: 1px solid #ccc;*/
      }
      .findedContr__ItemsPrices {
        width: 50%;
      }
    }
  }
  &__ItemsPrices {
    .item {
      &__finded-title {
        margin-top: 0;

      }

      &__finded-item {
        margin-right: 20px;
      }

      &__finded-itemPic {
        width: 50px;
        height: 50px;
        display: block;
        position: relative;
        background-size: cover;

        &:before {
          content: ' ';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          z-index: 10;
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1);
        }
        > i {
          font-size: 36px;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }
      }

      &__finded-itemTitle {
        font-size: 12px;
        margin-bottom: 0;
        height: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__finded-Items, &__finded-Docs {
        .owl-carousel {
          .item {

          }
          .owl-dots {
            //margin: 0!important;
          }
        }
      }
      &__finded-Items {

      }

      &__finded-Prices {
      }
    }
  }

  &__Contractor {

  }
  &__Contractor-title {
    position: relative;
    margin: 0;
    margin-bottom: 1em;
    padding-left: 35px;
  }

  &__Contractor-link:hover {
    text-decoration: none;
  }

  &__Contractor-title &__Contractor-logo {
    position: absolute;
    left: 0px;
    top: 7px;
  }

  &__Contractor-name {
    display: block;
    height: 22px;
    margin: 0;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }

  &__Contractor-addr {
    font-size: 80%;
    color: #999;
    display: block;
  }

  &__Contractor-desc {
    font-size: 80%;
    margin-bottom: 0;
    dt {
      width: 120px;
      text-align: left;
      margin-bottom: .25em;
    }
    dd {
      margin-left: 125px;
      line-height: 1.1;
      margin-bottom: .5em;
    }
  }
  &__item .btn {
    border-width: 1px;
    text-transform: uppercase;
    font-size: 10px;
    i {
      margin-right: 3px;
    }
  }
}
