$color-orange: #ff9900;
$color-green:  #48b04b;
$color-blue:   #00ccff;
$color-purple: #6e4db0;
$color-gray:   #5f7d8c;

$st_colors: $color-orange $color-green $color-blue $color-purple $color-gray $color-gray $color-gray $color-gray;



// <a href="#" class="btn btn-sm btn-success btn-icon-only btn__zaya_add-conditions"><i class="zmdi zmdi-border-color"></i></a>
// <button class="btn btn-sm btn-success btn-icon-only btn__zaya_add-conditions"><i class="zmdi zmdi-border-color"></i></button>

// <a href="#" class="btn btn-default btn-sm btn-icon-only btn__zaya_add-analog"><i class="zmdi zmdi-swap-vertical"></i></a>
// <button class="btn btn-default btn-sm btn-icon-only btn__zaya_add-analog" type="button"><i class="zmdi zmdi-swap-vertical-circle"></i></button>

.btn-icon-only {
  &.btn-sm {
    font-size: 18px;
    padding: 4px 8px;
  }
}
.btn__zaya_add-analog {
  padding: 4px 10px;
}