.b-userprofile-edit {
  padding: 1em 0;
  font-size: 14px;
  @media (min-width: $grid-float-breakpoint) {
    font-size: 16px;
  }
  .alert {
    font-size: 90%;
    padding: 1em;
  }
  .radio-inline, .checkbox-inline {
    vertical-align: top;
  }

  &__head {
    h1, h2, h3 {
      margin: 0;
      margin-bottom: 1em;
    }
  }
  &__tabs {
    background: #fff;
    > ul.lfr-nav.nav-tabs {
      margin: 0;
      background: #f5f5f5;
    }
    > div {
      padding: 1em;
      border: 1px solid #D8D8D8;
      border-width: 0 1px 1px 1px;
    }
  }
}

#ps-content .company-portlet .b-userprofile-edit .form_edit {
  border: none!important;
}