.zaya_layout {
  background: #fff;
  margin: 0;
}
.zaya_layout .row-offcanvas {
  .zaya_sidebar {
    position: absolute;
    height: 100%;
    z-index: 1;
  }
  .zaya_content {
  }
  .zaya_tabs-content {
    margin-top: 1.5em;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .zaya_layout .row-offcanvas{
    .zaya_sidebar {
      width: 240px;
      padding: 0 15px;
      &.is-fixed {
        position: fixed;
        top: 70px;
      }
    }
    .zaya_content {
      padding-left: 255px;
      min-height:100vh;
      z-index: 0;
      &.is-wide{
        padding:0 15px;
      }

    }
  }
}

@media (max-width: $screen-xs-max) { /* max-width: $screen-xs-max */
  .zaya_layout {
    .zaya_sidebar {
      padding: 0 15px;
    }
    .zaya_layout .zaya_content {
      padding: 0 15px;
    }
  }
}