// $screen-xs-max: "768px";
// $screen-md-min: "992px";


@import "portlet-zayavka__entry-LP__01-LP";
@import "portlet-zayavka__entry-LP__02-EDO";
@import "portlet-zayavka__entry-LP__03-Shipment";

.b-zayaEntry-LP {
  padding: 0;
  border-radius: 2px;
  background-color: #f2f2f3;
  border-color: #f2f2f3;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);

  &__contractors-selector {
    float: left;
    width: 125px;
  }
  &__contractors-items {
    margin-left: 125px;
  }
  &__contractors-chat {
  }

  &__contractors-selector {
    padding-right: 0;
    &__nav,
    > .nav-tabs {
      float: right;
      font-size: 70%;
      margin-top: 15px;
      margin-left: 15px;
      text-transform: uppercase;
        // padding-left: 0;
        // padding-right: 0;

      @media (max-width: $screen-xs-max) {
        float: none;
        margin-top: 5px;
        margin-left: 0;
        border: none!important;
        font-size: 80%;
      }

    }
    &__item {
      float: none;
        @media (min-width: $screen-md-min) {
          width: 100%;

        }
      &.active {

      }
    }
    &__link {
      border: none !important;
      border-radius: 0!important;
      margin-right: 1px!important;
      padding-right: 10px!important;

      &:after {
        content: '';
        background: #00ccff;
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 250ms ease 0s;
        transform: scale(0);
      }

    } /* //.b-zayaEntry-LP__contractors-selector__link */
  }

  &__contractors {
    &-items {
      background: #fff;
      padding: 10px 20px;
    }
    &-item {
      &__titleHeader {
        font-size: 140%;
        font-weight: 300!important;
        margin-bottom: 20px;
      }
    }
  }


// Лист поставки - Заголовки
  .b-zayaEntry-LP {
    &__titleSubHeader {
      text-transform: uppercase;
      letter-spacing: 0;
      font-size: 12px;
      font-weight: 800;
      color: #a3aab1;
      letter-spacing: 0;
      line-height: 24px;
      margin-bottom: 5px;
    }
    &__titleSubHeader2,
    h6 {
      margin: 0;
      font-size: 13px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
  .toggle-chat-btn {
    border-width: 0;
    font-size: 14px;
    padding: 4px 10px;
    margin-top: -3px;
    float: right;
    padding-left: 25px;
    position: relative;
    &:before {
      content: "";
      font: normal normal normal 14px/1.1 'Material-Design-Iconic-Font';
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
    &.is-active:before{
      content: "";
    }


  }

// Таблицы

  table {
    background: #fff;
    border-radius: 3px;
    margin: 0 0 18px;
    border: 1px solid #ddd;
    thead, tfoot {
      background: #f5f5f5;
      opacity: 1!important;
    }
    thead tr th,
    tfoot tr th,
    tbody tr td,
    tfoot tr td {
      font-size: 12px;
      line-height: 18px;
      text-align: left;
    }
    thead, tfoot {
      tr th {
        padding: 8px 10px 9px;
        font-size: 11px;
        font-weight: bold;
        color: #222;
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }

    tbody tr {
      &.even, &.alt, &:nth-child(even) {
        background: #f9f9f9;
      }
      td {
        color: #333;
        padding: 9px 10px;
        vertical-align: top;
        //border: none;
        border: 1px solid #eee;
      }
    }
  }

}









