$fontPath:'../icons/glavsnab/icofont/';

@font-face {
  font-family: "gsnab_icofont";
  src: url($fontPath + 'gsnab_icofont.eot');
  src: url($fontPath + 'gsnab_icofont.eot?#iefix') format('eot'), url($fontPath + 'gsnab_icofont.woff') format('woff'), url($fontPath + 'gsnab_icofont.woff2') format('woff2'), url($fontPath + 'gsnab_icofont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$gsnab-analytics: "\EA01";
$gsnab-analytics2: "\EA02";
$gsnab-calendar: "\EA03";
$gsnab-cards: "\EA04";
$gsnab-chat: "\EA05";
$gsnab-dashboard: "\EA06";
$gsnab-focus: "\EA07";
$gsnab-hands: "\EA08";
$gsnab-hands_help: "\EA09";
$gsnab-heart: "\EA0A";
$gsnab-ico-22: "\EA0B";
$gsnab-ka4estvo: "\EA0C";
$gsnab-message: "\EA0D";
$gsnab-ps: "\EA0E";
$gsnab-psoutline: "\EA0F";
$gsnab-rouble: "\EA10";
$gsnab-sadd: "\EA11";
$gsnab-settings: "\EA12";
$gsnab-sign: "\EA13";
$gsnab-suppliers: "\EA14";
$gsnab-user: "\EA15";
$gsnab-users: "\EA16";
$gsnab-winner: "\EA17";
$gsnab-zayavkas: "\EA18";
$gsnab-zmdi-check: "\EA19";
$gsnab-zmdi-clock: "\EA1A";
$gsnab-zmdi-cloud: "\EA1B";
$gsnab-zmdi-lock: "\EA1C";
$gsnab-zmdi-module: "\EA1D";
$gsnab-zmdi-phone: "\EA1E";


.gsnab {
  font-family: "gsnab_icofont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gsnab {
//.gsnab, [class^="icon-"], [class*=" icon-"] {
  @extend .gsnab;
  display: inline-block;
}

.gsnab-analytics:before {
  content: $gsnab-analytics;
  }
.gsnab-analytics2:before {
  content: $gsnab-analytics2;
  }
.gsnab-calendar:before {
  content: $gsnab-calendar;
  }
.gsnab-cards:before {
  content: $gsnab-cards;
  }
.gsnab-chat:before {
  content: $gsnab-chat;
  }
.gsnab-dashboard:before {
  content: $gsnab-dashboard;
  }
.gsnab-focus:before {
  content: $gsnab-focus;
  }
.gsnab-hands:before {
  content: $gsnab-hands;
  }
.gsnab-hands_help:before {
  content: $gsnab-hands_help;
  }
.gsnab-heart:before {
  content: $gsnab-heart;
  }
.gsnab-ico-22:before {
  content: $gsnab-ico-22;
  }
.gsnab-ka4estvo:before {
  content: $gsnab-ka4estvo;
  }
.gsnab-message:before {
  content: $gsnab-message;
  }
.gsnab-ps:before {
  content: $gsnab-ps;
  }
.gsnab-psoutline:before {
  content: $gsnab-psoutline;
  }
.gsnab-rouble:before {
  content: $gsnab-rouble;
  }
.gsnab-sadd:before {
  content: $gsnab-sadd;
  }
.gsnab-settings:before {
  content: $gsnab-settings;
  }
.gsnab-sign:before {
  content: $gsnab-sign;
  }
.gsnab-suppliers:before {
  content: $gsnab-suppliers;
  }
.gsnab-user:before {
  content: $gsnab-user;
  }
.gsnab-users:before {
  content: $gsnab-users;
  }
.gsnab-winner:before {
  content: $gsnab-winner;
  }
.gsnab-zayavkas:before {
  content: $gsnab-zayavkas;
  }
.gsnab-zmdi-check:before {
  content: $gsnab-zmdi-check;
  }
.gsnab-zmdi-clock:before {
  content: $gsnab-zmdi-clock;
  }
.gsnab-zmdi-cloud:before {
  content: $gsnab-zmdi-cloud;
  }
.gsnab-zmdi-lock:before {
  content: $gsnab-zmdi-lock;
  }
.gsnab-zmdi-module:before {
  content: $gsnab-zmdi-module;
  }
.gsnab-zmdi-phone:before {
  content: $gsnab-zmdi-phone;
  }