//
// Shared Variables
// --------------------------------------------------


// GLOBAL VALUES
// --------------------------------------------------

$color-threshold:         72%;
$brand-primary: red;
// Grays
// -------------------------
$black:                   #0c0c0c;
$gray-darkest:            hsl(hue($brand-primary), 3%, 10%);
$gray-darker:             hsl(hue($brand-primary), 3%, 13.5%);
$gray-dark:               hsl(hue($brand-primary), 3%, 20%);
$gray:                    hsl(hue($brand-primary), 3%, 33.5%);
$gray-light:              hsl(hue($brand-primary), 3%, 60%);
$gray-light2:             hsl(hue($brand-primary), 3%, 75%);
$gray-lighter:            hsl(hue($brand-primary), 3%, 90%);
$gray-lightest:           hsl(hue($brand-primary), 3%, 95%);
$white:                   #fff;



$text-color:              #313435;
$gray-dark:               #333333;
$border-color:            $gray-lighter;

// Brand colors
// -------------------------
$brand-default:           $gray-lighter;
$brand-inverse:           #00344d;
$brand-primary:           #0cf;
$brand-accent:            #9C27B0;
$brand-success:           #4CAF50;
$brand-warning:           #FF9800;
$brand-danger:            #F44336;
$brand-info:              #2196F3;

$bge-formir:              #ff9900;
$bge-inwork:              #48b04b;
$bge-agree:               #00ccff;
$bge-lp:                  #9999ff;
$bge-arch:                #5f7d8c;



$brand-default-dark:      $brand-inverse;
$brand-default-light:     $gray-lightest;
$brand-default-bright:    $white;

// $primary-l:            hsvvalue($brand-primary);
// $primary-s:            hsvsaturation($brand-primary);
// $brand-primary-dark:   darken(rgb(red($brand-primary), green($brand-primary), blue($brand-primary) + 15), 15);
// $brand-primary-light:  hsv(hue($brand-primary), 42%, (100% - (100% - $primary-l) * (42% / $primary-s)) );
// $brand-primary-bright: hsv(hue($brand-primary), 16%, (100% - (100% - $primary-l) * (16% / $primary-s)) );

// $accent-l:             hsvvalue($brand-accent);
// $accent-s:             hsvsaturation($brand-accent);
// $brand-accent-dark:    darken(rgb(red($brand-accent), green($brand-accent), blue($brand-accent) + 15), 15);
// $brand-accent-light:   hsv(hue($brand-accent), 42%, (100% - (100% - $accent-l) * (42% / $accent-s)) );
// $brand-accent-bright:  hsv(hue($brand-accent), 16%, (100% - (100% - $accent-l) * (16% / $accent-s)) );

$primary-l:               65.88235294%;
$primary-s:               94.04761905%;
$brand-primary-dark:      #066265;
$brand-primary-light:     #7dd8d2;
$brand-primary-bright:    #caf0ee;


$accent-l:                69.01960784%;
$accent-s:                77.84090909%;
$brand-accent-dark:       #681a7f;
$brand-accent-light:      #c77bd4;
$brand-accent-bright:     #e9c9ef;


$panel-bg:                red;


// COLORS
// -----------------
$black:                   #000000;
$grey:                    #999999;
$light-grey:              #CCCCCC;
$white:                   #FFFFFF;
$near-black:              #030303;
$green:                   #51A351;
$red:                     #BD362F;
$blue:                    #2F96B4;
$orange:                  #F89406;

// Material Color Palette
$red:                     #f34235;
$pink:                    #e81d62;
$purple:                  #9b26af;
$deep-purple:             #6639b6;
$indigo:                  #3e50b4;
$blue:                    #2095f2;
$light-blue:              #02a8f3;
$cyan:                    #00bbd3;
$teal:                    #009587;
$green:                   #4bae4f;
$light-green:             #8ac249;
$lime:                    #ccdb38;
$yellow:                  #feea3a;
$amber:                   #fec006;
$orange:                  #fe9700;
$deep-orange:             #fe5621;
$brown:                   #785447;
$grey:                    #9d9d9d;
$blue-grey:               #5f7c8a;