.ps-company-content .ps-catalog-actions .ps-btn,
.ps-company-content .ps-catalog-items .ps-item .ps-btn,
.ps-company-portlet .ps-company-body .ps-company-users .ps-btn,
.ps-ink-reaction,
.ps-profile-card .ps-row .ps-actions a,
.ps-searchres-content .ps-catalog-actions .btn,
.ps-searchres-content .ps-catalog-items .ps-item .ps-btn {
  position: relative;
  overflow: hidden;
}

.ps-badge {
  text-transform: uppercase;
  font-size: 80%;
  padding: .5em;
}

.ps-badge {
  display: inline-block;
  min-width: 10px;
  color: #fff;
  background-color: #969b9c;
  border-radius: 10px;
}

.ps-badge {
  font-weight: 700;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
}

.ps-badge.ps-style-danger,
.ps-modal-header.style-danger {
  background-color: #F44336 !important;
  border-color: #F44336 !important;
  color: #fff;
}

.ps-btn .ps-badge {
  position: relative;
  top: -1px;
}

.ps-btn-default .ps-badge {
  color: #e5e6e6;
  background-color: #969b9c;
}

sup.ps-badge {
  top: -.9em;
  padding: .25em;
  font-weight: 400;
}

sub.ps-badge,
sup.ps-badge {
  font-size: 70%;
  margin-left: -5px;
  margin-right: -5px;
}