// ICONS
// vendors
@import "../../fonts/icons/fa/font-awesome";
@import "../../fonts/icons/zmdi/material-design-iconic-font";
//@import "../../fonts/icons/css/icomoon_glavsnab";


.gsnab:before {
  content: "";
}
@import "../../icons/glavsnab/icofont";

[class^="gsnab-"], [class*=" gsnab-"] {
  font-weight: bold;
  .btn & {
    font-size: 11px;
  }
}


.gsnab {
  &.gsnab-ico_analytics {

  }
  &.gsnab-plussell {

  }
  &.gsnab-236691 {
    content: "";
  }
}