$icon-dimensions: 30px;
//$menubar-width: 62px;

// 00. LAYOUT
// ===============
#menubar.menubar {
	a {
		text-decoration: none;
		color: rgba(255, 255, 255, 0.8);
  	transition: .25s ease;
		&:hover, &:active, &:focus {
			text-decoration: none;
			color: #fff;
		}
	}
	ul {
		list-style: none;
		margin: 0; padding: 0;
	}
}

.menubar {
	&__items {
	  margin-top: 30px!important;
	}
	&__item {
	  margin-left: 15px;
	  margin-bottom: 5px;

		&.is-active &-link{
			background: #0cf;
		}

		&-link {
		  display: block;
		  height: 50px;

		  padding-left:   5px;
		  padding-right:  5px;
		  padding-top:    10px;
		  padding-bottom: 10px;

		  color: #fff;
		  font-size: 16px;
		  line-height: $icon-dimensions;

		  text-decoration: none;

			&:hover, &:active, &:focus {

			}
		}
		&-icon {
			float: left;
			width: $icon-dimensions;
			height: $icon-dimensions;
			margin-left: 5px;
  		margin-right: 10px;

			&-svg {
				fill: rgba(255, 255, 255, 0.8);
			  stroke: rgba(255, 255, 255, 0.8);
			  stroke-width: 1.7px;
			  width: 100%;
			  height: 100%;
				a:hover & {
					fill: #fff;
					stroke: #fff;
				}
			}

		}
		&-title {
		  position: relative;
		  display: block;
		  white-space: nowrap;
		  overflow: hidden;
		}
	} //item
	&__subitems {

	} //subitems

	&__subitem {
		position: relative;

		&-link {
			position: relative;
			display: block;
			padding-left:   50px;
			padding-right:  25px;
			padding-top:    8px;
			padding-bottom: 8px;

			font-size: 13px;

			&:hover, &:active, &:focus,
			.is-active {
				background-color: #002334;
			}
		} //link
		&.is-active {
			background-color: #002334;
		}

		&-title {
			position: relative;
			padding-right: 30px;
		}
		.badge {
			position: absolute;
		  top: 50%;
		  right: 0;
		  margin-top: -6px;

			border-radius: 2px;
		  padding: 2px 4px;
		  font-size: 10px;

		}
	}
	&__bg {
		position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  background: rgba(0, 0, 0, 0.5);
	  z-index: 1000;
    display: none;
    .mobile .menubar-visible & {
      display: block;
    }
  }
}

body.fixed-body {
	position: fixed;
}

// STATES
// ==========

// 01.1. COLLAPSED
.menubar {
	&__item {
		&:hover {
			width: 230px;
  		background-color: #00344d;
		}
		&-title {
		  display: none;
		  opacity: 0;
		}
		&:hover &-title {
		  display: block;
		  opacity: 1;
		}
	}
	&__subitems {
	  position: absolute;
	  z-index: 999;
	  left: 62px;
	  width: 183px;
	  background: #00344d;

	  display: none;
	  opacity: 0;
	}

	&__item  {
		&:hover	{
			.menubar__subitems {
			  display: block;
			  opacity: 1;
			}
			.menubar__subitem {
				&-link {

				}
			}
		}
	} //item

	&__subitem {
		&-link {
			padding-left: 35px;
		}
	}
}

// 01.2. VISIBLE
.menubar-visible .menubar {
	&__item {
		width: initial;
		&-title {
		  display: block;
		  opacity: 1;
		}
	}
	&__subitems {
	  position: relative;
	  background: transparent;
	  width: 100%;
	  left: 0;

		padding-bottom: 10px;
	  display: none;
	  opacity: 0;
		&.is-expanded,
		&.is-active {
			display: block;
  		opacity: 1;
		}
	}
	&__item  {
		&,
		&:hover	{
			.menubar__subitems {
			  display: none;
			  opacity: 0;
			}
		}
		&.is-expanded,
		&.is-expanded:hover	{
			.menubar__subitems {
			  display: block;
			  opacity: 1;
			}
		}
		&__item-title {

		} //item-title
	} //item
	&__subitem {
		&-link {
		padding-left: 50px;
		}
	}
}


.menubar-visible .menubar {
	&__item.is-subitem {
		position: relative;
		&:after {
			content: '+';
			position: absolute;
			top: 14px;
			right: 17px;
			color: rgba(255, 255, 255, 0.5);
			font-size: 16px;
			transform: rotate(0deg);
			transition: all 0.15s linear;
			opacity: 1;
		}
	  &.is-expanded:after {
			margin-left: 0;
			transform: rotate(-45deg);
		} //item.is-expanded
	}
}

// 01.3. TREE BORDER
//@include treeBorder()

$menubar-tree-border-style: 1px dashed rgba(255, 255, 255, 0.5);
// $menubar-tree-indent-level1:
.menubar {
	&__subitem {
		position: relative;
		// vertical
		&:before {
			content: '';
			position: absolute;
			display: block;
			border-left: $menubar-tree-border-style;
			z-index: 1;

			left: 15px;
			top: 15px;
			bottom: -15px;
			width: 1px;

			.menubar-visible & {
      	left: 25px;
			}
		}
		&:first-child {
			&:before {
			top: 0;
		}
		}
		&:last-child {
			&:before {
				display: none;
			}
		}
		// horizontal
		&-link {
			&:before {
				content: '';
				position: absolute;
				display: block;
				border-bottom: $menubar-tree-border-style;
				z-index: 1;

				//top: 50%;
				top: 16px;
				left: 15px;
				width: 15px;

				.menubar-visible & {
        	left: 25px;
					width: 20px;
				}
			}
		} //.menubar__subitem-link
	} // .menubar__subitem
} // .menubar


// 02. ANIMATION
// ===============

// Opening
.menubar {
  @include transition(width $menubar-collapse-speed $menubar-collapse-ease); //0.5s cubic-bezier(0.15, 0.99, 0.18, 1.01)
}



// .menubar {
//   &__subitem {
//     a {
//       //@include transition(all .15s linear);
//     }
//     // General title markup
//     &-title {
//       //left: -10px;
//       @include opacity(0);
//       @include transition(all $menubar-collapse-speed $menubar-collapse-ease);
//       }
//     }
//  }
