//
// GUI controls
// --------------------------------------------------

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
	padding: $padding-vertical $padding-horizontal;
	font-size: $font-size;
	line-height: $line-height;
	border-radius: $border-radius;

	&.btn-flat {
		padding: $padding-vertical ($padding-horizontal/2);
	}
}


// Menubar
// -------------------------
// => see ar __ps_vars.scss



.gui-icon [class*=" zmdi-"], [class^=zmdi-]
, .gui-icon [class*=" fa-"], [class^=fa-] {
	font-size: 1.6em;
}

.gui-icon [class*=" zmdi-"], [class^=zmdi-] {
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: $menubar-icon-width;
  width: 1em;
		@media (max-width: $screen-xs-max) {
			line-height: $menubar-icon-width__mobile;
		}
}


// General GUI elements
// -------------------------

.gui-controls {
	//font-size: $menubar-font-size;
	padding: 0;
	margin-bottom: 30px;

	// GUI header
	small {
		display: block;
		margin: 30px $menubar-gap $menubar-gap $menubar-gap;
		font-size: 10px;
		font-weight: $weight-medium;
		@include opacity(0.7);

		.menubar-visible &,
		.menubar-pin & {
			color: $menubar-color;
		}
	}
	// First GUI header has no top margin
	li {
		&:first-child > small {
			margin-top: 0;
		}
	}

	// Tree badge markup
	.badge {
		//position: absolute;
		//top: 5px;
		//margin-left: 8px;
		border-radius: 2px;
		padding: 2px 4px;
		font-size: 10px;
		& {
		  position: absolute;
		  top: 50%;
		  right: 0;
		  margin-top: -6px;
		}
	}
}


// GUI items
// -------------------------

.gui-controls {
	// General GUI item markup
	li {
		list-style: none;

		// GUI item titles
		&.gui-folder > a {
			cursor: pointer;
		}
	}

	> li {
		// First level menu items
		position: relative;
  	margin-left: 10px;
		margin-bottom: $menubar-gap;

			@media (max-width: $screen-xs-max) {
				margin-bottom: 4px;
			}


		// First level link markup
		> a {
			position: relative;
			display: block;
			text-decoration: none;
			@include button-size(12px, 0px, $menubar-font-size, normal, 0);
			padding-left: 0;
			//min-height: $menubar-width-collapsed - ($menubar-gap);
			//min-width: $menubar-width-collapsed;
			height: 50px;
			z-index: 1;

			@media (max-width: $screen-xs-max) {
				min-height: $menubar-icon-width__mobile;
				height: $menubar-icon-width__mobile;
				padding: 6px 0px;
			}

			&:focus {
				outline: none;
			}
		}
		//&:active,
		&.active {
			> a {
				background-color: $menubar-link-active;
			}
		} // li.active
	} // /.gui-controls

	// Overide default bootstrap behavior, for docs display
	&.nav > li > a:hover {
		background: inherit;
	}
}

// Markup for a first level item when it is selected and the menu is opened
.expanded-menu-item-markup {
	.gui-controls {
		> li {
			// First level menu item hover style
			&:not(.gui-folder) > a:hover {
				background-color: $menubar-link-hover;
			}

			// First level menu item active style
			&.active:not(.gui-folder) > a {
				background-color: $menubar-link-active;
			}
		}
	}
}

.menubar-visible {
	//@include expanded-menu-item-markup();
	@extend .expanded-menu-item-markup;
}

// --------------
// SUBMENU
// --------------

// Submenu markup / tree indents
// -------------------------

.gui-controls {
	li {
		// General tree markup
		ul {
			padding: 0;
			display: none;
		}
	}

	// Tree Level specific styles
	> li {

		// Treelevel 2 markup
		> ul > li > ul li:before { left: $menubar-tree-indent-level2; }
		> ul > li > ul a {
			padding-left: $menubar-tree-indent + $menubar-tree-width;
			&:before { left: $menubar-tree-indent-level2; }
		}

		// Treelevel 3 markup
		> ul > li > ul > li > ul li:before { left: $menubar-tree-indent-level3; }
		> ul > li > ul > li > ul a {
			padding-left: $menubar-tree-indent + ($menubar-tree-width * 2);
			&:before { left: $menubar-tree-indent-level3; }
		}

		// Treelevel 4 markup
		> ul > li > ul > li > ul > li > ul li:before { left: $menubar-tree-indent-level4; }
		> ul > li > ul > li > ul > li > ul a {
			padding-left: $menubar-tree-indent + ($menubar-tree-width * 3);
			&:before { left: $menubar-tree-indent-level4; }
		}

		// Treelevel 5 markup
		> ul > li > ul > li > ul > li > ul > li > ul li:before { left: $menubar-tree-indent-level5; }
		> ul > li > ul > li > ul > li > ul > li > ul a {
			padding-left: $menubar-tree-indent + ($menubar-tree-width * 4);
			&:before { left: $menubar-tree-indent-level5; }
		}
	}
}

// Второй уровень меню - декорация - Dashed lines on tree
// ----------------------------------------
.gui-controls {
	> li {
		ul {
			> li {
				position: relative;
				// Dashed lines on tree
				&:before {
					content: "";
					left: $menubar-tree-indent-level1 / 2;
					top: 15px; bottom: -15px;
					position: absolute;
					display: block;
					width: 1px;
					border-left: 1px dashed $menubar-tree-border-color;
					z-index: 1;
				}
				&:first-child:before {
					top: 0;
				}
				&:last-child:before,
					&.last-child:before {
					display: none;
				}
				> a:before {
					content: "";
					left: $menubar-tree-indent-level1 / 2;
					top: 16px;
					position: absolute;
					display: block;
					width: $menubar-tree-width;
					border-bottom: 1px dashed $menubar-tree-border-color;
					z-index: 1;
					@media (max-width: $screen-xs-max) {
						top: 50%;
					}
				}
			}
		}
	}
}

// EXPAND
.menubar-visible .gui-controls {
	> li {
		ul {
			> li {
				position: relative;
				// Dashed lines on tree
				&:before {
					left: $menubar-tree-indent-level1;
				}
				> a:before {
					left: $menubar-tree-indent-level1;
				}
			}
		}
	}
}


// Второй уровень меню
// -------------------
.gui-controls {
	ul {
		> li {
			// Tree subitems
			> a { //goto 314
				position: relative;
				display: block;
				text-decoration: none;
				@include button-size(8px, 16px, $menubar-font-size, normal, 0);
				padding-left: $menubar-tree-indent / 2;
				font-size: 80%;

				@media (max-width: $screen-xs-max) {
					@include button-size(4px, 18px, $menubar-font-size, normal, 0);
					font-size: 85%;
				}

				&:active, &.active {
					background-color: $menubar-link-active; // $white
				}

				&:hover, &:focus {
					//background-color: $menubar-link-hover; // rgba(0, 0, 0, 0.07)
					background-color: darken($menubar-link-hover, 5%);
				}
			} // /a
			> ul > li > a {
				font-size: 80%;
			}

		} // /li
	} // /ul
}



.gui-controls {
	> li {
		.title {
			display: none;
		}
		> ul {
				font-size: 90%;
				display: none;
			}
		> ul {  // Схлопнутое меню -> подменю
	    position: absolute;
	    z-index: 999;
	    left: $menubar-tree-indent;
	    background: #00344d;
	    opacity: 1;
		}

		// LI HOVER
		&:hover {
    	width: 230px;
			background-color: $menubar-link-hover;
			.title {
				display: inline;
			}
			ul { // EXPAND -> 413
			  width: 180px;
			  display: block;
				.title {
					display: block;
  				position: relative;
				}
			}
		} // hover


	}
}

// EXPAND
.menubar-visible .gui-controls {
	> li {
		> a {
			/* XX */
			padding-left: $menubar-tree-indent;
		}
		> ul {
				position:relative;
				background: transparent;
				width: 100%;
				left: 0;
				display: none;
			}
		&.expanded > ul {
			display: block;
		}
	}
}



// EXPAND
.menubar-visible .gui-controls {
	li {
		// General title markup
		.title {
			position: relative;
			display: block;
		}

		// Folder title markup
		&.gui-folder > a {
			.title {
				font-style: normal;
				color: $menubar-folder-color;
			}
		}

		// Folder title markup when expanded/active
		&.gui-folder.expanded > a .title,
		&.gui-folder.active > a .title {
			color: $menubar-color;
		}
	}
} // .menubar-visible .gui-controls









// Titles
// -------------------------
// .gui-controls {
// 	li {
// 		.title {
// 			position: relative;
// 			color: $menubar-color;
// 			//line-height: $menubar-icon-width / 2;
// 			line-height: 18px;
// 			//padding-left: $menubar-gap + $menubar-icon-width + 3;
// 			padding-left: $menubar-tree-indent + 5;
// 			padding-right: 30px;

// 				@media (max-width: $screen-xs-max) {
// 					//padding-left: $menubar-gap + $menubar-icon-width__mobile + 3;
// 					padding-left: $menubar-tree-indent - 5;
// 				}
// 		}
// 		a > .title {
// 			line-height: 25px;
// 		}

// 		ul li .title {
// 			padding-left: $menubar-gap;
// 			line-height: 18px;
// 			@media (max-width: $screen-xs-max) {
// 				padding-left: $menubar-gap;
// 			}
// 		}

//     ul li .title & .menubar-visible {
// 			padding-left: 0;
// 		}


// 		> a:hover {
// 			.title {
// 				color: $menubar-link-hover-color;
// 			}
// 		}

// 		&.active > a {
// 			.title {
// 				color: $menubar-link-active-color;
// 				font-weight: $weight-medium;
// 			}
// 		}

// 	}

// 	> li {
// 		> a .title {
// 			//margin-left: $menubar-tree-indent;
// 		}
// 	}

// } //.gui-controls


.gui-controls {
		> li > a > .title {
			line-height: 25px;
			overflow: hidden;
  		white-space: nowrap;
		}
}



// Folder - Collapse/Expand sign
// --------------------------------------------------

.gui-folder {
	> a:after {
		content: "+";
		position: absolute;
		top: 7px;
		right: 17px;
		display: inline-block;
		margin-left: -12px;
		color: transparentize($menubar-color, .5); //fade($menubar-color, 50%);
		font-size: 12px;
		font-weight: inherit;
		//Animation
		@include opacity(0);
		@include rotate(0deg);
		@include transition(all .15s linear);
	}
	&.expanding, &.expanded {
		> a:after {
			font-size: 16px;
			font-weight: $weight-normal;
			margin-top: -2px;
			margin-left: -12px;
			@include rotate(-45deg);
			@include transition(all 0.10s linear);
		}
	}
}

		// Main level collapse/Expand signs
		.gui-controls {
			> .gui-folder {
				> a:after {
					top: 16px;
					margin-left: 2px;
					@media (max-width: $screen-xs-max) {
						top: 10px;
					}
				}
				&.expanding > a:after, &.expanded > a:after {
					color: transparentize($menubar-color, .6); //fade($menubar-color, 40%);
					margin-left: 0;
					@include rotate(-45deg);
				}
			}
		}

		.expanded-menu-sign {
			.gui-folder {
				> a:after {
					@include opacity(1);
				}
			}
		}

			.menubar-visible {
				@extend .expanded-menu-sign;
			}


// GUI icon
// --------------------------------------------------

.gui-icon {
	position: absolute;
	left: $menubar-gap;
	top: 0;
	//width: $menubar-icon-width;
	//height: $menubar-icon-width;
	width: 30px;
	height: 30px;
	color: $menubar-icon-color;
	font-size: $menubar-font-size;
	overflow: hidden;
	border-radius: 0;
	@media (max-width: $screen-xs-max) {
		font-size: 14px;
		width: $menubar-icon-width__mobile ;
		height: $menubar-icon-width__mobile;
	}

	.fa:first-child, .md:first-child, .glyphicon:first-child, .gsnab:first-child{
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		margin: auto;
		//height: 16px;
		line-height: $menubar-icon-width;
		width: 1em;

		@media (max-width: $screen-xs-max) {
			line-height: $menubar-icon-width__mobile !important;
		}

	}

	& {
	  left: 10px;
	  top: 8px;
	  //width: 35px;
	  //height: 35px;
	  width: $menubar-icon-width - 15;
	  height: $menubar-icon-width - 15;
	  @media (max-width: $screen-xs-max) {
			font-size: 14px;
			width: $menubar-icon-width__mobile - 15;
			height: $menubar-icon-width__mobile - 15;
		}
	}
	svg {
    fill: $menubar-icon-color;
		stroke-width: 1.7px;
		stroke: $menubar-icon-color;

    width: $menubar-icon-width - 15;
	  height: $menubar-icon-width - 15;
	  @media (max-width: $screen-xs-max) {
			width: $menubar-icon-width__mobile - 15;
			height: $menubar-icon-width__mobile - 15;
		}

  }


	&:hover {
		//background-color: $menubar-icon-bg-hover;
		//color: $menubar-icon-color-hover;

		img {
			left: -5px;
			top: -5px;
			width: $menubar-icon-width + 10;
			height: $menubar-icon-width + 10;
			@media (max-width: $screen-xs-max) {
				width: $menubar-icon-width__mobile + 10;
				height: $menubar-icon-width__mobile + 10;
			}
		}
	}
}


.gui-icon-active {
	background-color: $menubar-icon-bg-active;
	border-color: $white;
	color: $white;
//  color: $menubar-icon-color-active;
}


.gui-controls {
	a.expanded .gui-icon,
	li.active .gui-icon,
	li.active .gui-icon:hover {
		@extend .gui-icon-active;
	}
}



// Markup for icons when the menu is expanded
.expanded-menu-icon {
	// Change the look of the gui-icons when the menu is expanded
	.gui-folder:hover:not(.active) .gui-icon {
		//background-color: $menubar-icon-bg-hover;
		//color: $menubar-icon-color-hover;
	}
	.gui-controls {
		> li:not(.gui-folder) {
			.gui-icon:hover {
				background: inherit;
			}
		}
	}
	.gui-icon:hover {
		background: inherit;
	}
}
.menubar-visible {
	@extend .expanded-menu-icon;
}

// .menubar-visible .gui-controls li ul {
// 	visibility: hidden;
// }
// .gui-controls li ul{
//   //visibility: hidden;
//   > * {
//     visibility: visible;
//     transition: opacity .3s ease-in-out 0s;
//   }
//   &:hover > * {
//     opacity: 0.75;
//   }
//   > *:hover {
//     opacity: 1;
//   }
// }





// Responsive classes
// --------------------------------------------------

// Medium Devices
// -------------------------



// @media (min-width: $screen-lg-min) {
//     .menubar-pin {
//         @extend .expanded-menu-item-markup;
//         @extend .expanded-menu-title;
//         @extend .expanded-menu-sign;
//         @extend .expanded-menu-icon;
//     }
// }