.header-nav.header-nav-profile {
    margin-top: 0;
}

.header-nav-profile .dropdown, .portlet-dockbar .dropdown {
    padding: 0;
}

.header-nav-profile .dropdown > a {
    min-width: 140px;
    font-size: 11px;
}

.header-nav-profile .dropdown .profile-info {
    max-width: 200px;
    display:block;
}

.header-nav-profile .dropdown > a, .portlet-dockbar .dropdown > a {
    position: relative;
    min-height: 64px;
    min-width: 210px;
    padding: 12px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.header-nav-profile .dropdown .profile-info {
    position: relative;
    white-space: nowrap;
    min-width: 100px;
    max-width: 150px;
    margin: 10px 10px;
    overflow: hidden;
}

.header-nav-profile .dropdown img, .portlet-dockbar .dropdown img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float:left;
}

.header-nav-profile .dropdown .profile-info small, .portlet-dockbar .dropdown .profile-info small {
    display: block;
    opacity: .5;
}