// Переменные
@import "_ps_vars"; // там же _ps_vars_colors
@import "_fonts";
@import "_icons";

// Миксины для элементов
@import "mixins/base";
@import "mixins/animations";

// UI элементы
//@import "css/badges";
@import "elements/badges";
@import "elements/icons";
@import "elements/offcanvas";
@import "elements/btns";

@import "_notifications";

#wrapper {
  //@import "css/dropdown";
  @import "elements/dropdowns";

}

//
// UI только в рабочей области
#ps-content,
.zayavka_modal,
.dialog_modal {
  @import "elements/hbox";
  @import "elements/lists";
  @import "elements/typography";
  @import "elements/utilities";
  @import "elements/btns_forms";
}

.ps_modal {
  @import "elements/typography";
  @import "elements/utilities";
}

//@import "elements/btns";
@import "elements/modals";
@import "elements/placeholder";
@import "common";
// @import "controls";
// @import "profile";
@import "header";
@import "menubar";
// PORTLETS
// --------------
#ps-content {
  @import "_portlets/portlet-company";
  //@import "_portlets/portlet-zayavka";
  @import "_portlets/portlet-advanced-search";
  @import "_portlets/portlet-document-library";
}

@import "_portlets/portlet-dashboard";
@import "_portlets/portlet-zayavka";
@import "_portlets/portlet-contacts";
@import "_portlets/portlet-contacts__profileCard";
@import "_portlets/portlet-company__eItem";
// ELEMENTS ANIMATION
@import "animation";
html body,
body,
body > .flipped,
#senna_surface1-default,
#senna_surface1-screen_4 {
  height: 100%;
}

#wrapper {
  background: #f2f2f3;
  color: #313435;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  #ps-header {
    position: fixed;
    left: 0;
    right: 0;
  }
  #ps-wrapper {
    padding-left: 62px;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
  }
  &.has-no-control-menu {
    margin-top: 0px !important;
    padding-left: 0px !important;
  }
}

.ps-full-content #ps-content,
.ps-full-content #ps-wrapper {
  height: 100%;
}

#ps-content {
  font-size: 14px;
  position: relative;
  width: 100%; //min-width: 600px;
  vertical-align: top;
  left: 0;
  padding-left: 0px;
  display: inline-block;
  background: #f5f5f5;

  @media (min-width: 769px) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    padding-top: 74px;

    overflow: auto;
  }



  #main-content {
    > .row > div {
      // padding: 0;
    }
    .portlet-content-editable {
      padding: 0;
      @media (max-width: $screen-xs-max) {
        padding: 0;
      }
    }
  }

  .signed-in.menubar-visible & {
    padding-left: 240px;
    @media (max-width: $screen-xs-max) {
      padding-left: 0;
    }
  }
  .signed-in & {
    padding: 0;
    padding-left: 62px;
    padding-top: 74px;
    //
    @media (max-width: $screen-sm-min) {
      padding-left: 0;
    }
  }
    .liferayAdmin & {
      padding: 10em;
    }

} //.#ps-content
body.open .navbar-search {
  display: none;
}

.portal-popup {
  font-size: 14px;
}

@import "liferay_ui_fix";
@import "mobile";
