**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/download
/bundles
/gradle-*.properties
test-results
/target/
*.ipr
*.iws
buildalllocally-documents.bat
/buildalllocally-document_library_web_hook.bat
package-lock.json