/**
 * FONTS
 */

@font-face {
	font-family: 'GT-Walsheim';
	src: url('../assets/fonts/GT-Walsheim-Pro-Bold.eot?') format('embedded-opentype'),
	     url('../assets/fonts/GT-Walsheim-Pro-Bold.woff') format('woff'),
	     url('../assets/fonts/GT-Walsheim-Pro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url('../assets/fonts/GT-Walsheim-Pro-Medium.eot?') format('embedded-opentype'),
	     url('../assets/fonts/GT-Walsheim-Pro-Medium.woff') format('woff'),
	     url('../assets/fonts/GT-Walsheim-Pro-Medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url('../assets/fonts/GT-Walsheim-Pro-Regular.eot?') format('embedded-opentype'),
	     url('../assets/fonts/GT-Walsheim-Pro-Regular.woff') format('woff'),
	     url('../assets/fonts/GT-Walsheim-Pro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url('../assets/fonts/GT-Walsheim-Pro-Light.eot?') format('embedded-opentype'),
	     url('../assets/fonts/GT-Walsheim-Pro-Light.woff') format('woff'),
	     url('../assets/fonts/GT-Walsheim-Pro-Light.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

$font: "GT-Walsheim";



/**
 * ICONS
 */

$icon-savoir: "\e900";
$icon-youtube: "\e901";
$icon-twitter: "\e902";
$icon-search: "\e903";
$icon-savoir2: "\e904";
$icon-pin2: "\e905";
$icon-pin: "\e906";
$icon-phone: "\e907";
$icon-person: "\e908";
$icon-linkedin: "\e909";
$icon-link: "\e90a";
$icon-home: "\e90b";
$icon-globe: "\e90c";
$icon-facebook: "\e90d";
$icon-expertise: "\e90e";
$icon-expert: "\e90f";
$icon-email: "\e910";
$icon-download: "\e911";
$icon-calendar: "\e912";
$icon-besoins: "\e913";
$icon-arrow: "\e914";
$icon-action: "\e915";
$icon-agilite: "\e916";
$icon-collaboration: "\e917";
$icon-excellence: "\e918";
$icon-integrite: "\e919";
$icon-leadership: "\e91a";
$icon-responsabilite: "\e91b";
$icon-dropdown: "\e91c";
$icon-sheet: "\e91d";
$icon-play: "\e91e";
$icon-check: "\e91f";
$icon-fax: "\e920";
$icon-instagram: "\e921";

@font-face {
	font-family: 'icons';
	src:  url('../assets/fonts/icons.eot?ihmf09');
	src:  url('../assets/fonts/icons.eot?ihmf09#iefix') format('embedded-opentype'),
		  url('../assets/fonts/icons.ttf?ihmf09') format('truetype'),
		  url('../assets/fonts/icons.woff?ihmf09') format('woff'),
		  url('../assets/fonts/icons.svg?ihmf09#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-youtube {
	&:before {
		content: $icon-youtube;
	}
}
.icon-twitter {
	&:before {
		content: $icon-twitter;
	}
}
.icon-search {
	&:before {
		content: $icon-search;
	}
}
.icon-savoir2 {
	&:before {
		content: $icon-savoir2;
	}
}
.icon-savoir {
	&:before {
		content: $icon-savoir;
	}
}
.icon-pin2 {
	&:before {
		content: $icon-pin2;
	}
}
.icon-pin {
	&:before {
		content: $icon-pin;
	}
}
.icon-phone {
	&:before {
		content: $icon-phone;
	}
}
.icon-person {
	&:before {
		content: $icon-person;
	}
}
.icon-linkedin {
	&:before {
		content: $icon-linkedin;
	}
}
.icon-link {
	&:before {
		content: $icon-link;
	}
}
.icon-home {
	&:before {
		content: $icon-home;
	}
}
.icon-globe {
	&:before {
		content: $icon-globe;
	}
}
.icon-facebook {
	&:before {
		content: $icon-facebook;
	}
}
.icon-expertise {
	&:before {
		content: $icon-expertise;
	}
}
.icon-expert {
	&:before {
		content: $icon-expert;
	}
}
.icon-email {
	&:before {
		content: $icon-email;
	}
}
.icon-download {
	&:before {
		content: $icon-download;
	}
}
.icon-calendar {
	&:before {
		content: $icon-calendar;
	}
}
.icon-besoins {
	&:before {
		content: $icon-besoins;
	}
}
.icon-arrow {
	&:before {
		content: $icon-arrow;
	}
}
.icon-action {
	&:before {
		content: $icon-action;
	}
}
.icon-agilite {
	&:before {
		content: $icon-agilite;
	}
}
.icon-collaboration {
	&:before {
		content: $icon-collaboration;
	}
}
.icon-excellence {
	&:before {
		content: $icon-excellence;
	}
}
.icon-integrite {
	&:before {
		content: $icon-integrite;
	}
}
.icon-leadership {
	&:before {
		content: $icon-leadership;
	}
}
.icon-responsabilite {
	&:before {
		content: $icon-responsabilite;
	}
}
.icon-sheet {
	&:before {
		content: $icon-sheet;
	}
}
.icon-dropdown {
	&:before {
    	content: $icon-dropdown;
	}
}
.icon-play {
	&:before {
		content: $icon-play;
	}
}
.icon-check {
	&:before {
		content: $icon-check;
	}
}
.icon-fax {
  &:before {
    content: $icon-fax;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}