.upper{ text-transform: uppercase; }
.center{ text-align: center; }
.text-right{ text-align: right; }
.text-left{ text-align: left; }
.full-width{ width: 100%; }

.float-left  { float: left; }
.float-right { float: right; }
.float-none  { float: none; }

.hide { display: none; }

/* responsive show/hide */
.mobile-hide{
    @media (max-width: $tablet-w){
        display: none !important;
    }
}

.mobile-show{
    display: none !important;

    @media (max-width: $tablet-w){
        display: block !important;

        &.button{
            display: inline-block !important;
        }
    }

    &.mobile-show--button{
        margin-top: 10px;

        .section-subtitle{
            width: 73%;
            margin: 0 auto 20px !important;
        }
    }

    &.mobile-show--social{
        margin-bottom: 23px;
    }
}

.tablet{
    &-hide {
        @media (max-width: $tablet-h){
            display: none !important;
        }   
    }

    &-show {
        display: none !important;

        @media (max-width: $tablet-h){
            display: block !important;

            &.button{
                display: inline-block !important;
            }
        }

        &--social{
            margin-bottom: 23px;
        }
    }
}


.no-margin{
    margin: 0 !important;

    &--top {
        margin-top: 0 !important;
    }
    &--bottom {
        margin-bottom: 0 !important;
    }
}

.no-padding{
    padding: 0 !important;

    &--bottom {
        padding-bottom: 0 !important;
    }
}

.bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg--white{
    background-color: #fff;
}

.overflow-hidden{
    overflow: hidden;
}

svg.circle{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    overflow: visible;

    circle{
        stroke: #dededf;
        stroke-width: 1px;
        fill: none;
        stroke-dasharray: 340;
        stroke-dashoffset: 340;
        transform-origin: center;
        transform: rotate(-90deg);
        transition: stroke-dashoffset 0.75s $Power2EaseOut;
    }
}

/* vertical align */
.valign{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* bottom align */
.balign{
    position: relative;
    top: 100%;
    transform: translateY(-100%);
}

.grayscale{
    filter: grayscale(100%);
    filter: gray;
}

/* inline block elements */
.in-block{
    display: inline-block;
    vertical-align: top;

    &.in-block--middle{
        vertical-align: middle;
    }
}

.block--shadow{
    box-shadow: 0px 0px 38px #ddd;
}

/* manage image overflow to stick to window */
.width-overflow{
    width: 45vw;
    display: inline-block;
    position: relative;

    @media screen and (max-width: $tablet-h) {
        width: 53vw;
    }
    @media (max-width: $tablet-w){
        width: 100%;
    }

    &.width-overflow--left{
        margin: 0;
        left: calc((-8.33333 * #{$container-xl} / 100) + ((100vw - #{$container-xl - $gutter-xl * 2}) / -2));

        @media screen and (max-width: $xlarge - 1) {
            @include smoothResponsive("left", -235, -300, 1441, 1919);
        }
        @media screen and (max-width: $large) {
            left: calc((-8.33333 * #{$container} / 100) + ((100vw - #{$container - $gutter * 2}) / -2));
        }
        @media screen and (max-width: $container) {
            left: calc(-8.33333 * #{$container} / 100 - #{$gutter});
        }
        @media (max-width: $tablet-w){
            left: -15px;
            margin-bottom: 30px;
            width: calc(100% + 15px);
        }
    }
    
    &.width-overflow--right{
        margin: 0;
        right: calc((-8.33333 * #{$container-xl} / 100) + ((100vw - #{$container-xl - $gutter-xl * 2}) / -2));
        
        @media screen and (max-width: $xlarge - 1) {
            @include smoothResponsive("right", -237, -300, 1441, 1919);
        }
        @media screen and (max-width: $large) {
            right: calc((-8.33333 * #{$container} / 100) + ((100vw - #{$container - $gutter * 2}) / -2));
        }
        @media screen and (max-width: $container) {
            right: calc(-8.33333 * #{$container} / 100 - #{$gutter});
        }
        @media (max-width: $tablet-w){
            right: -15px;
            margin-top: 30px;
            width: calc(100% + 15px);
        }
    }

    img {
        width: 100%;
        max-width: none;
        margin-bottom: 0 !important;
    }
}

/* Responsive iframe video */
.intrinsic-container {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    z-index: 8;
    overflow: hidden;

    &.intrinsec-container--content {
        position: relative;
    }
 
    &:after{
        content: "";
        width: 100%;
        height: calc(100% - 90px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 11;
    }
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container--16x9 {
    padding-bottom: 56.25%;
}
 
.intrinsic-container iframe {
    position: absolute !important;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
