$scrollbar-track: rgba(222, 222, 222, .75);
$scrollbar-thumb: rgba(0, 0, 0, .5);

[data-scrollbar], [scrollbar], scrollbar {
    display: block;
    position: relative;
}

#page {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.scroll-wrapper {
    height: 100vh;
    overflow: hidden;
    width: 100vw;

    > .scrollbar-track {
        position: absolute;
        opacity: 0;
        z-index: 1;
        transition: opacity .5s ease-out, background .5s ease-out;
        background: none;
        user-select: none;
        
        &.show,
        &:hover {
            opacity: 1;
        }
        &:hover {
            background: $scrollbar-track;
        }

        .scrollbar-thumb {
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: 8px;
            background: $scrollbar-thumb;
            border-radius: 4px;
        }
    }

    > .scrollbar-track-y {
        top: 0;
        right: 0;
        width: 8px;
        height: 100%;
        z-index: 99;
    }
}

.scroll-content {
    transform: translate3d(0, 0, 0);
    position: relative;
    z-index: 1;
    min-height: 100%;
}

// Fix for ipad/iphone
.mobile,
.safari {
    .scroll-wrapper,
    #page {
        height: 100%;
    }
}