/**
 * Colors
 */

$purple: #4f2d7f;
$purple-lighter: #853ef9;
$purple-light: #7537cf;
$purple-dark: #452671;

$grey-darker: #78757b;
$grey-dark: #babbbd;
$grey: #dbdbdb;
$grey-light: #e3e3e3;
$grey-lighter: #f4f4f4;

$green: #97d700;


/**
 * Elements
 */

$gutter: 30px;
$gutter-xl: 40px;
$container: 1170px + $gutter*2;
$container-xl: 1570px + $gutter-xl*2;


$box-shadow: 0 0 50px rgba(#ababab, 0.33);
$box-shadow-dark: 0 0 50px rgba(#000, 0.33);

$gradient-purple: linear-gradient(to right, rgba($purple-light, 0.98) 0%, rgba($purple-light, 0.065) 100%);
$gradient-purple-map: linear-gradient(to right, rgba($purple-light, 1) 42%, rgba($purple-light, 0.065) 87%);
$gradient-grey: linear-gradient(to right, rgba(#c6c6c6, 0.8) 0%, rgba(#c6c6c6, 0) 55%);
$gradient-text: linear-gradient(rgba($grey-lighter, 0.4) 0%, rgba($grey-lighter, 1) 90%);


/**
 * Responsive
 */

$xlarge: 1920px;
$large: 1440px;
$desktop: 1280px;
$tablet-h: 1024px;

$tablet: 979px;

$tablet-w: 768px;
$mobile: 480px;