$screen-xs-max: "768px";
$screen-md-min: "992px";
.container {
  width: 1400px;
  margin: 0 auto;
}

$tableHead: 132px; //height
$tableHeadFull: 310px; //height
$tableSidebar: 420px; //width
$tableSidebar_sm: 500px; //width
$tableBody: 420px; //height
$cellContractorWidth: 259px;

@mixin leftFixxCell() {
  $cellSize:
    number 100px,
    name 100px,
    note 100px,
    unit 100px,
    quantity 100px,
  ;

  @each $el in $cellSize {
    $name: nth($el, 1);
    $size: nth($el, 2);

    .zayaKL-item__#{$name} {
        flex: $size;
    }
  }
}

@mixin blue-border() {
  &:before {
    content: "";
    position: absolute;
    //left: $tableSidebar;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: #2196f3;
    z-index: 999;
  }
}
.table-competetive__wrap {
  position: relative;
}


.zayaKL {
  font-size: 12px;
  position: relative;
  //max-width: 1100px;

  .isLoaded & {
    overflow: hidden;
    }
  .table {
    background: #fff;
  }
  .table {
    tfoot {
      tr td {
        min-width: $cellContractorWidth;
      }
    }
    > thead, > tbody, > tfoot {
      tr td:first-child {
        padding-left: 8px;
        min-width: $tableSidebar
      }
    }
  }

  &.contractors-one {
    max-width: 870px;
    //max-width: 900px;
  }
  &.contractors-two {
    max-width: 1100px;
  }
}


.fixedTable {
  .fixedTable-body .table {
    background-color: white;
    width: auto;
  }

  &-prefix {
    float: left;
    width: $tableSidebar;

    overflow: hidden;
    position: relative;
    @include blue-border()
    .table .zayaKL__head th {
      text-align: right;
    }
  }
  &-header {
    float: left;
    overflow: hidden;
    width: calc(100% - #{$tableSidebar});
    border-right: 1px solid #dddddd;
    &Wrap {
      margin-left: -$tableSidebar;
      width: 100%;
    }
  }
  &-prefix, &-header{
    height: $tableHead;
    .contractors-zero & {
      height: $tableHead - 32;
      .zayaKL__contractor-title {
        height: $tableHead - 32;
      }
    }

    .fullHead & {
      height: $tableHeadFull;
    }
  }

  &-sidebar {
    width: $tableSidebar;
    // height: $cellHeight * $cellsHigh + ($cellPadding * 2);
    float: left;
    overflow: hidden;
    height: $tableBody;
    thead {
      //display: none;
    }
    position: relative;
    @include blue-border()
    &Wrap {
      //margin-top: -$tableHead;
    }


  }
  &-body {
    overflow: auto;
    float: left;
    position: relative;
    // width: ($cellWidth * $cellsWide) + ($cellPadding * 2);
    // height: ($cellHeight * $cellsHigh) + ($cellPadding * 2);
    width: calc(100% - #{$tableSidebar});
    height: $tableBody;

    border-right: 1px solid #dddddd;
    td {
      //white-space: nowrap;
      //height: 40px;
      overflow: hidden;
    }
    &Wrap {
      //overflow: hidden;
      margin-left: -$tableSidebar;
      width: 100%;
      //margin-top: -$tableHead;
    }
  }
}

.fixedTable {
  &-header {
    tr > th,
    tr > td {
      &:nth-child(1) {
        //display: none;
      }
    }
  }
  &-sidebar {
    .zayaKL__head {
      display: none;
    }
    .zayaKL__body {
      //border-top: 2px solid #dddddd;
    }
  }
  &-body {
    .zayaKL__head {
      display: none;
    }
    .zayaKL__body {
      //border-top: 2px solid #dddddd;
    }
    .zayaKL__body {
      tr > td {
        &:nth-child(1) {
          //display: none;

        }
      }
    }
  }
}


.zayaKL {
  .table > tbody > tr > td {
    //vertical-align: middle;
  }
  .table > thead, .zayaKL__head {
    background-color: #e5e5e5;
    min-width: 90px;
    max-width: 90px;
    border: 1px solid #dddddd;
    tr th {
      font-size: 11px;
    }
  }

  .zayaKL__body {
    td {
      white-space: nowrap;
      //min-width: 90px;
      &:nth-child(1) {
        white-space: normal;
      }
    }
  }
  .zayaKL__foot {
    background: #f5f5f5
  }
}

.zayaKL__head tr {
  @for $i from 2 through 6 {
    &:nth-child(#{$i}) {
      display: none;
      .fullHead & {
        display: table-row
      }
    }
  }
  &:last-child {
    white-space: nowrap;
  }
}



.zayaKL-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: $tableSidebar;
  margin: -8px;
  > div {
    flex-grow: 1;
    //margin-right: 10px;
    padding: 8px;
    border-right: 1px solid #dddddd;
    overflow: hidden;
    &:last-child {
      border: transparent
    }
  }
  //@include leftFixxCell()
  .zayaKL-item {
    &__name,
    &__note {
      flex: 1 1 50%;
      //max-height: 55px;
      line-height: 1.3;
      //height: 30px;
    }
    &__number,
    &__unit,
    &__quantity {
      flex: 0 0 60px;
      text-align: right;
    }
    &__number {
      flex: 0 0 40px;
    }
  }
}


.zayaKL-offer {
  display: flex;
  margin: -8px;
  min-width: 300px;
  tbody & {
    //max-height: 55px;
  }
  > div {
    flex-grow: 1;
    //margin-right: 10px;
    padding: 8px;
    border-right: 1px solid #dddddd;
    //overflow: hidden;
    &:last-child {
      border: transparent
    }
  }
  // .zayaKL-offer {
  //   &__checkbox {
  //     flex: 0 0 30px;
  //     text-align: center;
  //   }
  //   &__price, &__quant, &__summ {
  //     flex: 0 0 80px;
  //     text-align: left;
  //   }
  // }
}


.table-KL tbody tr.hover{
    background-color: #DFFCCB !important;
}
.fixedTable-body col.hover {
    background-color: #fcf8e3 !important;
}




.show-requisites-button,
.hide-requisites-button,
.min-prices-button {
    cursor: pointer;
    color: #583d8d;
    background: #efecf7;
    width: max-content;
    padding: 6px;
    margin: 10px;
    display: inline-block;
    text-transform: uppercase;
}
.zayaKL__contractor--highlight {
  background-color: rgba(8, 255, 171, 0.1);
  color: #34b88b;
  font-weight: bold;
}


.zayaKL__contractor {
  &-name {
    //background: #fff;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    //max-width: 170px;
    height: 15px;
    height: 30px;
    line-height: 15px;
      a {
        text-decoration: none;
      }
  }
  &-badges {
    margin: 3px 0;
    //margin-bottom: 6px;
    .badge {
      border-radius: 0;
      border: 0;
      background: transparent;
      opacity: .8;
      font-size: 10px;
      text-align: left;

      overflow: hidden;
      //max-width: 170px;
      text-overflow: ellipsis;
      i {
        margin-right: 5px;
      }
      &.zayaKL__contractor-badge--3 {
        position: relative;
        padding-right: 20px;
        cursor: pointer;
        &:after {
          position: absolute;
          right: 0;
          top: 2px;
          content: "";
          font: normal normal normal 16px/1 "Material-Design-Iconic-Font";
          color: #6a708b;
        }
      }
    }
  }
  &-btn {
    border: 0;
    font-size: 16px;
    padding: 0 4px;
    border-radius: 4px;
    margin-right: 5px;
    &:hover {
      color: #38898d;
    }
    &.toggle-chat-btn {
      position: relative;
      .badge {
        font-size: 9px;
        position: absolute;
        top: -5px;
        background: #2195f3;
        right: -5px;
        height: 16px;
        line-height: 16px;
        width: 16px;
        padding: 0;
        font-weight: normal;
      }
    }
  }
}
.zayaKL-offer {
  &__checkbox {
    text-align: center;
    min-width: 30px
  }
  &__price, &__quant, &__summ {
    text-align: right;
    min-width: 60px
  }
}
@media (min-width: $screen-md-min) {
.zayaKL-offer {
  &__price, &__quant, &__summ {
    text-align: right;
    min-width: 75px

  }
}
}


.vertical-border{
  position: relative;
  overflow: visible!important;
  //border-left: solid #2196f3 2px !important;
  @include blue-border()
  &:before {
    height: initial;
    right: initial;
    width: 2px;
    left: 0;
    top: -2px;
    bottom: -2px;
    z-index: 0;
  }

}

  .table th,
  .table td {
    &:nth-child(2).vertical-border:before {
      display: none;
    }
  }

td.zayaKL-offer__checkbox {
  //background: red;
}



.btn-show-requisites {
  float: right;
  cursor: pointer;
  color: #583d8d;
  background: #efecf7;
  width: max-content;
  padding: 6px;
  margin: 10px;
  display: inline-block;
  text-transform: uppercase;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
  .contractors-zero & {
    display: none;
  }
}
.zayaKL__qsearch {
  float: left;
  padding: 3px;
  margin: 10px;
  margin-left: 30px;
  display: inline-block;
  border: 1px solid darkgrey;
}


/* chat */
.table-offers__chat-block, .table-offers__wrap {
    transition: width 1.5s cubic-bezier(.25, 1.01, .08, .94);
}
.table-offers__chat-block {
    position: absolute;
    right: 0;
    width: 0;
    top: 0;
    border: 1px solid #848e98;
    background: white;
    overflow: hidden;
    bottom: 0;
    display: none;
    &.isShow {
      display: block;
    }
}
.table-offers__chat-block iframe {
    height: 100%;
    width: 100%;
    display: none;
}
.chat-block__close-btn {
    background: #848e98;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    padding: 3px 17px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.4;
}
.chat-block__close-btn:hover {
    opacity: 0.8;
}

.table-offers__chat-block {
  right: 0!important;

}