.b-zayaEntry {
  .b-zayaEntry__addConditions {
    padding: 0 15px;
    .card, .card-horizontal {
        box-shadow: none;
    }
    .addConditions {
      &__col {
        padding: 15px;
        border-right: 4px solid #eee;
        // &:first-child {padding-left: 30px}
        &:last-child {border: 0}
      }
      &__col {
          &:hover {
            background: rgba(223, 252, 203, 0.5);
          }
          .panel-title {
            text-transform: uppercase;
            letter-spacing: 0;
            font-size: 12px;
            font-weight: 800;
            color: #a3aab1;
            letter-spacing: 0;
            line-height: 24px;
            margin-bottom: 5px;
          }
          .panel-body {
            padding: 15px 0 0 0;
          }
          label, .control-label {
            font-size: 14px;
          }
          .input-time .control-label {
            display: block;
          }
          .input-time input {
            width: 110px;
          }
          .input-group-addon {
            border: 0;
            border-bottom: 2px solid #6A708B;
            color: #696f8a;
            background-color: rgba(106, 112, 139, 0.25);
          }
      }
    }
  }

}


.b-zayaEntry {
  &-desc__item {
    .row_deadline {
      > * {
        display: block;

      }
    }
    &-toggleStatus,
    .btn-toggle-status {
      background: red;
      margin-right: 5px;
      text-indent: -1984px;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }
  }
}