header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 15;
	
	background-color: $grey-lighter;
	transition: transform 0.5s $Power2EaseOut;

	@media screen and (max-width: $tablet) {
		background-color: #fff;
	}
}

.header {
	&__top,
	&__bottom {
		background-color: #fff;

		transform: translateY(-163px); // header height

		@media screen and (max-width: $tablet) {
			background: none;
			transform: none;
		}
	}

	&__bottom{
		@media (max-width: $tablet-w){
			position: relative;
			z-index: 9;
		}
	}

	&__top {
		position: relative;
		z-index: 1;
		padding-top: 20px;

		&:after {
			content: "";
			display: block;
			height: 3px;
			width: 100%;
			margin-top: 17px;
			background-color: $grey-lighter;

			transform-origin: 100% 0;
			transform: scaleX(1);
			transition: transform 0.5s ease, background 0.5s ease 0.3s;

			@media screen and (max-width: $tablet) {
				background-color: #fff;
				margin-top: 16px;

				.menu--opened & {
					transition-delay: 0s;
					background-color: $grey-lighter;
				}
			}
		}
	}

	&__logo {
		display: block;
		position: relative;
		z-index: 1;

		transition: transform 0.5s $Power2EaseOut, opacity 0.35s $Power2EaseInOut 0.15s, visibility 0.35s $Power2EaseInOut 0.15s;

		svg {
			display: block;
			width: 180px;
			height: 43px;

			@media screen and (max-width: $mobile) {
				width: 165px;
				height: 39px;
			}
		}

		.menu--opened & {
			@media screen and (max-width: $mobile) {
				@include autoAlpha(0);
				transition-delay: 0s;
			}
		}
	}
	&__search {
		color: $grey-darker;
		font-size: 1.8rem;

		position: relative;
		top: 20px;
		margin-right: 15px;

		.desktop &:hover {
			color: $purple;
		}
	}

	&__tel-btn {
		position: absolute;
		right: $gutter-xl/2;
		top: 50%;
		transform: translateY(-50%);
		z-index: 9;
		
		@media screen and (max-width: $xlarge - 1) {
			right: $gutter/2;
		}
		@media screen and (max-width: $tablet-h) {
			position: static;
			padding-left: 0;
			transform: none;
		}
		@media screen and (max-width: $tablet) {
			position: absolute;
			top: -68px;
			left: calc((100% - 60px - 180px - #{$gutter})/2 + 210px); // centered between logo & menu btn
			width: 180px;
			transform: translateX(-50%);
			text-align: center;
		}
		@media screen and (max-width: $tablet-w) {
			left: auto;
			right: 0;
		}
		@media screen and (max-width: $mobile) {
			width: 50px;
			left: auto;
			right: 80px;
			top: -66px;
			transform: none;
			transition: transform 0.5s $Power2EaseInOut;

			.menu--opened & {
				transform: translateX(calc(-100vw + 65px + 50px + 30px)); // -window width + right pos + width + offset
			}
		}

		.button {
			@media screen and (max-width: $tablet-w) {
			    width: 180px;
			    height: 55px;
			    font-size: 1.5rem;
			}
			@media screen and (max-width: $mobile) {
				width: 55px;
				overflow: hidden;
				transition: width 0.5s $Power2EaseInOut !important;

				.menu--opened & {
					width: 180px;
				}
			}
		}

		span {
			span {
				@media screen and (max-width: $mobile) {
					position: absolute;
					white-space: nowrap;
					top: 5px;
					left: 15px;

					@include autoAlpha(0);
					transition: opacity 0.3s $Power2EaseInOut, visibility 0.3s $Power2EaseInOut, transform 0.5s $Power2EaseInOut;

					.menu--opened & {
						@include autoAlpha(1);
						transform: translateX(-40px);
					}
				}
			}
			.icon-phone {
				@media screen and (max-width: $mobile) {
					font-size: 2.7rem;
					margin-right: -1px;
					top: 4px;
					transition: transform 0.5s $Power2EaseInOut;

					.menu--opened & {
						transform: translate(-58px, -20%);
					}
				}
			}
		}
	}

	&__secondary {
		@include flex(flex-start, center);

		.search-filter--geoloc {
			@media screen and (max-width: $tablet) {
				display: none;
			}
		}
	}

	&__nav {
		ul {
			margin: 0;
		}

		li {
			display: inline-block;
			position: static;
			padding: 0;
			line-height: 1.7;

			&:before {
				display: none;
			}
		}

		a {
			font-weight: 600;

			vertical-align: middle;
		}

		&--primary {

			@media screen and (max-width: $desktop) {
				margin-right: 28px;
			}
			@media screen and (max-width: $tablet-h) {
				margin-right: 0;
			}
			@media screen and (max-width: $tablet) {
				position: absolute;
				width: 100vw;
				left: 0;
				max-height: calc(100vh - 83px);
				overflow: scroll;
				background-color: #fff;

				transform-origin: 0 0;
				transform: scale(1, 0);

				.mobile.safari & {
					padding-bottom: 70px;
				}
			}

			li {
				margin-top: 18px;
				padding-bottom: 18px;

				@media screen and (max-width: $tablet) {
					display: block;
					border-bottom: 2px solid $grey-lighter;
					margin-top: 0;
					padding: 3px $gutter;

					@include autoAlpha(0);
					transform: translateX(-10px);
				}

				// SUBMENU TOGGLE
				&.has-submenu {
					> a {
						position: relative;
						z-index: 1;

						&:after {
						    content: "";
						    position: absolute;
						    bottom: -20px;
						    left: calc(50% - 12px);
						    width: 0; 
							height: 0; 
							border-left: 12px solid transparent;
							border-right: 12px solid transparent;
							border-bottom: 12px solid $purple;

							transition: opacity 0.1s ease 0.25s, visibility 0.1s ease 0.25s;
							@include autoAlpha(0);
						}
					}

					.desktop &:hover {

						&:not(.active) {
							svg {
								@include autoAlpha(1);
								transition-timing-function: ease;
								transition-delay: 0s;
							}
						}

						> a {

							&:after {
								transition-delay: 0s;
								@include autoAlpha(1);

								@media screen and (max-width: $tablet) {	
									@include autoAlpha(0);
								}
							}
						}

						.header__submenu {
							transform: scaleY(1);
							transition-duration: 0.45s;
							transition-delay: 0s;

							@media screen and (max-width: $tablet) {	
								transform: scaleY(0);
							}

							li {
								@include autoAlpha(1);
								transition: opacity 0.35s $Power2EaseOut 0.3s, visibility 0.35s $Power2EaseOut 0.3s, transform 0.5s $Power2EaseOut 0.3s;
								transform: translateX(0);

								&:nth-of-type(2n) {
									transition-delay: 0.35s;
								}
							}

							&__icon {
								i {
									transition-delay: 0.3s;
									@include autoAlpha(1);
								}
								&:after {
									transition-delay: 0.2s;
									transform: translateY(-50%) scaleY(1);
								}
							}

							&__bottom {
								.container {
									@include autoAlpha(1);
									transition-duration: 0.35s;
									transition-delay: 0.35s;
								}
							}
						}
					}
				}

				&.active {
					@media screen and (max-width: $tablet) {
						background-color: $grey-lighter;
					}

					& > a {
						background-color: $grey-lighter;

						@media screen and (max-width: $tablet) {
							background: none;
							color: $purple;
						}
					}
				}

				.desktop &:not(.active) a:hover {
					svg {
						@include autoAlpha(1);
						transition-timing-function: ease;
						transition-delay: 0s;
					}
				}
			}

			a {
				font-size: 1.6rem;
				line-height: 1.4;
				color: #000;
				
				display: block;
				position: relative;
				padding: 12px 25px 10px;
				margin: 0 4px;
				border-radius: 30px;

				transition: background 0.5s ease;

				@media screen and (max-width: $desktop) {
					padding-left: 17px;
					padding-right: 17px;
				}
				@media screen and (max-width: $container - ($gutter * 4)) {
					padding-left: 10px;
					padding-right: 10px;
					margin: 0 2px;
				}
				@media screen and (max-width: $tablet-h) {
					padding-left: 9px;
					padding-right: 9px;
					margin: 0 1px;
				}
				@media screen and (max-width: $tablet) {
					padding-left: 0;
					padding-right: 0;
					margin: 0;
					border-radius: 0px;
					font-size: 2rem;
				}
			}

			svg {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				stroke: $grey;
				fill: none;
				@include autoAlpha(0);
				transition: opacity 0.35s $Power2EaseOut 0.1s, visibility 0.35s $Power2EaseOut 0.1s;

				pointer-events: none;

				@media screen and (max-width: $tablet) {
					display: none;
				}

				rect {
					width: calc(100% - 2px);
					height: calc(100% - 2px) !important;
					stroke-width: 1px;
					stroke-dasharray: 420;
					stroke-dashoffset: 420;
				}
			}
		}
		&--secondary {

			@media screen and (max-width: $tablet) {
				display: none;
			}

			li {
				border-left: 1px solid rgba($purple, 0.2);
				padding-left: $gutter;
				margin-left: $gutter;
			}

			a {
				font-size: 1.4rem;
				color: $grey-darker;
	
				.desktop &:hover,
				&.active {
					color: $purple;
				}

				&:before {
					padding-right: 10px;
					vertical-align: middle;
					position: relative;
					top: -1px;

					font-family: 'icons';
					font-weight: 100;
				}

				&.link-network:before {
					content: $icon-globe;
					font-size: 1.9rem;
				}
				&.link-locations:before {
					content: $icon-pin2;
					font-size: 1.6rem;
				}
				&.link-clients:before {
					content: $icon-person;
					font-size: 1.5rem;
				}
			}
		}

		&--mobile {
			display: none;

			@media screen and (max-width: $tablet) {
				display: block;
			}
		}
	}

	&__submenu {
		position: absolute;
		left: 0;
		top: calc(100% - 1px);
		width: 100%;
		z-index: 9;

		transform: scaleY(0);
		transform-origin: 0 0;
		transition: transform 0.3s $Power2EaseInOut 0.1s;

		@media screen and (max-width: $tablet) {
			display: none;
		}

		li {
			padding-bottom: 0;
			margin-top: 0;
			width: calc(50% - 4px);
			vertical-align: top;

			@include autoAlpha(0);
			transform: translateX(-40px);
			transition: opacity 0.25s $Power2EaseOut, visibility 0.25s $Power2EaseOut, transform 0.35s $Power2EaseOut;

			&:nth-of-type(2n+1) {
				transition-delay: 0.05s;
				padding-right: 10px
			}
			&:nth-of-type(2n) {
				padding-left: 10px
			}

			&:not(:nth-last-of-type(1)):not(:nth-last-of-type(2)) {
				padding-bottom: 5px;
			}

			&.active a {
				background: none;
				color: #fff;
			}
		}

		a {
			font-weight: 700;
			font-size: 1.8rem;
			color: rgba(#fff, 0.5);

			padding: 10px 0;
			border: none;
			transition: color 0.35s ease;

			.desktop &:hover {
				color: #fff;
			}
		}

		&__top {
			background-color: $purple;
			padding: 35px 0;
		}
		&__bottom {
			background-color: $purple-dark;
			padding: 35px 0;

			.container {
				@include autoAlpha(0);
				transition: opacity 0.25s ease, visibility 0.25s ease;
			}

			a {
				display: inline-block;
				padding: 0 40px;
				border: 1px solid $purple-light;
				border-radius: 35px;

				transition: background .4s ease;

				span{
					transform-style: preserve-3d;
				}
			}
		}

		&__icon {
			padding-right: 45px + $gutter-xl/2;
			position: relative;

			@media screen and (max-width: $xlarge) {
				padding-right: 45px + $gutter/2;
			}
			@media screen and (max-width: $desktop) {
				padding-right: 25px + $gutter/2;
			}
			@media screen and (max-width: $tablet-h) {
				padding-right: 45px + $gutter/2;
			}

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: 45px + $gutter-xl/2;
				width: 1px;
				height: calc(100% - 30px);
				background-color: rgba(#fff, 0.3);

				transform-origin: 0 0;
				transform: translateY(-50%) scaleY(0);
				transition: transform 0.35s $Power2EaseInOut;

				@media screen and (max-width: $xlarge) {
					right: 45px + $gutter/2;
				}
				@media screen and (max-width: $desktop) {
					right: 25px + $gutter/2;
				}
				@media screen and (max-width: $tablet-h) {
					right: 45px + $gutter/2;
				}
			}

			i {
				font-size: 4rem;
				color: #fff;
				text-align: center;

				display: block;
				height: 67px;
				width: 67px;

				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				border-radius: 50%;
				border: 2px solid #fff;
	
				@include autoAlpha(0);
				transition: opacity 0.35s $Power2EaseOut, visibility 0.35s $Power2EaseOut;

				@media screen and (max-width: $tablet-h) {
					margin-left: 40px;
				}

				&:before {
					display: block;
					@include vertical-align;
				}
			}
		}
	}

	&__menu-btn {
		display: none;
		background: none;
		height: 28px;
		outline: none;

		@media screen and (max-width: $tablet) {
			display: block;
		}

		span {
			display: block;
			height: 3px;
			width: 40px;
			position: relative;
			background-color: $purple;

			&:first-child {
				top: -7px;
			}
			&:last-child {
				top: 7px;
			}
		}
	}

	&--sticky {
		transition-delay: 0.1s;
		transform: translateY(-83px);

		.header__top {
			&:after {
				transform: scaleX(0);
			}
		}

		.header__logo {
			transition-delay: 0.1s;
			transform: translateY(85px);

			@media screen and (max-width: $tablet) {
				transform: none;
			}
		}
	}
}


.mobile-nav {
	&--footer {
		> li {
			display: none;
			padding: 8px 0;
			cursor: pointer;
			max-height: 53px;
			overflow: hidden;

			@media screen and (max-width: $tablet) {
				display: block;
			}

			&.active {
				background: none;
				span {
					color: $purple;
				}
			}

			span {
				color: $grey-dark;
				font-size: 1.8rem;
				font-weight: 600;
				line-height: 1;
				display: inline-block;
				width: 100%;
				position: relative;
				padding: 2px 60px 2px 30px;
				pointer-events: none;

				&::after {
					content: $icon-dropdown;
					font-family: 'icons';
					font-size: 1rem;
					position: absolute;
					right: 30px;
					top: 50%;
					transform: translateY(-50%);
					transition: transform 0.4s ease;
				}
			}

			li {
				border-bottom: 0;
				padding: 0;
				@include autoAlpha(1);
				transform: none;

				a {
					font-size: 1.6rem;
					color: $grey-darker;
					padding: 5px 30px;
				}
			}

			ul {
				padding-top: 5px;
				pointer-events: none;
				@include autoAlpha(0);
				transition: opacity 0.35s $Power2EaseOut 0.2s, visibility 0.35s $Power2EaseOut 0.2s;
			}

			&.submenu--opened {
				ul {
					pointer-events: auto;
					@include autoAlpha(1);
					transition-delay: 0s;
				}
				span::after {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}

	&--utility {
		border-bottom: 2px solid $grey-lighter;
		padding: 18px 30px;
		@include flex(space-between, center);
	
		@include autoAlpha(0);
		transform: translateX(-10px);

		a {
			color: $grey-darker;
			font-size: 1.8rem;
			border-radius: 0;
			padding: 7px 0 5px;

			&:first-of-type {
				margin-right: auto;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					width: 2px;
					height: 100%;
					left: calc(100% + (100vw - 100% - 60px - 20px)/2); // centered between both a --> width a + (width nav - width a - padding nav - width other a)/2
					top: 0;
					background-color: $grey-lighter;
				}
			}
			&:last-of-type {
				margin-left: auto;
			}
		}
		i {
			font-size: 2.2rem;
			font-weight: 100;
			font-style: normal;
			vertical-align: middle;
			position: relative;
			top: -4px;
			margin-right: 15px;

			&:before {
				vertical-align: middle;
				font-family: 'icons';
			}

			&.link-network:before {
				content: $icon-globe;
			}
			&.link-locations:before {
				content: $icon-pin2;
			}
			&.link-clients:before {
				content: $icon-person;
			}
		}
	}

	&--search-filter {
		padding: 20px 30px;
		border-bottom: 2px solid $grey-lighter;

		@include autoAlpha(0);
		transform: translateX(-10px);

		li {
			@include autoAlpha(1);
			transform: none;
			border-bottom: 0;
		}
		a {
			font-size: 1.8rem;
		}
	}

	&--socials {
		width: 100%;
		padding: 5px 65px 7px;
		@include flex(space-between, center);

		@media screen and (max-width: $mobile) {
			padding: 5px 15px 7px;
		}

		li {
			border: none;
		}

		a {
			font-weight: 100;
			padding: 0;
		}
	}
}