$ps_icon-width: 20px;


svg.gsnab-ico {
  //color: red;
  font-size: 100%;
  width: 25px;
  height: 25px;
}


.ps-icon {
  svg {
    display: inline-block;
    fill: currentColor;
    transform: translateZ(0);
    vertical-align: middle;
    width: $ps_icon-width;
    height: $ps_icon-width;
  }
}
.ps-icon-ps {
  margin-left: -6px;
  padding-top: 3px;
}


.ps-icon {

}

.ps-icon {
  &-sm {
    height: $ps_icon-width / 2;
    width: $ps_icon-width / 2;
  }
  &-md {
    height: $ps_icon-width * 2;
    width: $ps_icon-width * 2;
  }
  &-lg {
    height: $ps_icon-width * 8;
    width: $ps_icon-width * 8;
  }
}



