// CONTACT-list
// -------------------------
.list-contact {
  > div,
  .list-item {
    min-height: 150px;
      @media (max-width: $screen-sm-max) {
        min-height: inherit;
        overflow: inherit;
        padding: 10px;
      }
    &.contact__added .info:after {
      background: $gray-lightest;
      box-shadow: 0 0 20px 10px $gray-lightest;
    } // /.info

    .item-actions {
      right: 10px;
      top: 15%;
      .btn {
        @extend .btn-xs;
        background: transparent;
        font-size: 85%;
        border: 0;
        margin: 0;
        padding: .5em .75em;
        transition: all .15s linear;
        &:hover {
          background: #dae1e8;
        }
        &:active {
          transform: scale(.8);
        }
      } // /.btn
    } //.item-actions
    &:hover .item-actions {
      //opacity: 1;
      //translate: 0, 0;
    } //.item-actions
    .item-actions {
      .dropdown-menu {
        position: absolute;
        left: -120px;
      }
    }
  } // /.contact
} //.list-contact
