.list-docs {
  //@extend .list;
  > div.contact,
  > .entry-doc {
     min-height: inherit;
    .item-actions {
      //@include opacity(1);
      //top: 45%;
      .btn {
        color: $brand-danger;
        font-size: 2.5em!important;
        background: transparent;
        border: 0;
      }
    } // /.item-actions
    &::before {
      z-index: 0;
    }
    .photo {
      @extend .v-top;
      .user-icon {
        border-radius: 10%;
      }
      .file-icon {
        @extend .opacity-50;
        font-size: 80%;
        margin: .5em;
        > .fa {
          @extend .fa-3x;
        }
        &.pdf {
          i {
            @extend .fa-file-pdf-o;
            color:#ff0000;
          }
        }
        &.doc {
          i {
            @extend .fa-file-word-o;
            color:#0054a6;
          }
        }
        &.xls {
          i {
            @extend .fa-file-excel-o;
            color:#008641;
          }
        }
        &.ppt {
          i {
            @extend .fa-file-powerpoint-o;
            color:#ce482f;
          }
        }
        &.zip,
        &.rar,
        &.7z {
          i {
            @extend .fa-file-archive-o;
            color:#ce482f;
          }
        }

      }
    }



    .info {
      z-index: 20;
      .file-name {
        font-size: 120%;
        font-weight: 500;
      }
      .create {
        //@extend .opacity-50;
      }
      .list-inline > li {
        @extend .opacity-75;
        display: inline-block;
        font-size: 90%;
        padding: 0 5px;
        a {
          text-decoration: none;
        }
        @media (max-width: $screen-sm-max) {
          display: block;
        }
      }
    } // /.info
    &:hover .info:after{
      background: #e5faff;
      box-shadow: 0 0 20px 10px #e5faff;
      transform: scale(1);
    }
  }



} /* //.list-docs */

