// Nav one-row
// --------------------------------------------------
.nav-nowrap {
	> li > a {
		overflow: hidden;
    height:40px;
    white-space: nowrap;
    position: relative;
		.badge {
			position: absolute;
			right:15px;
			top:12px;
		}
	}
}

// Small
// --------------------------------------------------

.nav {
	> li > small {
		display: block;
		margin: 20px 0 10px 10px;
		font-size: 10px;
		font-weight: $weight-medium;
		opacity: .6;
	}
	> li:first-child > small {
		margin-top: 0;
	}
}


// Nav icon
// --------------------------------------------------

.nav.nav-icon {
	> li {
		a {
			padding-left: 32px;
			line-height:1.3em;

			.fa,
			.md,
			.glyphicon {
				position: relative;
				width: 32px;
				text-align: center;
				margin-left: -32px;
				float: left;
				font-size: 1em;
			}
		}
	}
}
