body.page-template-tpl-talent-culture{

	@media (max-width: $tablet-w){
		padding-bottom: 60px;
	}
}

#button-apply{

	@media (max-width: $tablet-w){
		position: fixed;
		top: auto;
		bottom: 0;
		padding: 0;
		z-index: 10;
		opacity: 1 !important;
		transform: none !important;

		.button{
			width: 100%;
			border-radius: 0;
			background: $purple;
		}

		// fix for tweenmax adding zindex for animated elements on safari
		.safari & {
			z-index: 10 !important;
		}
	}

	@media (min-width: $tablet-w + 1){

		&.sticky{
			position: fixed;
			top: 10px;
			right: 30px;
			width: auto;
			padding-right: 0;
			z-index: 12;
			transition: none;
			transform: translateY(-80px) !important;

			@media (min-width: 1920px){
				right: 40px;
			}
	 
			/* Override opacity from FadeIn */
			opacity: 0 !important;

			&.visible{
				opacity: 1 !important;
				transform: translateY(0) !important;
				transition: opacity .5s $Power2EaseOut, transform .5s $Power2EaseOut;
			}

			&.out{
				opacity: 0 !important;
				transition: opacity .5s $Power2EaseOut
			}
			
			// fix for tweenmax adding zindex for animated elements on safari
			.safari & {
				z-index: 12 !important;
			}
		}
	}

	@media (min-width: $tablet + 1){

		&.sticky{
			top: 90px;
		}
	}
}

.wrap-row-values > .row{

	.col--content h3{
		font-size: 2rem;
	}

	@media (max-width: $tablet-w){
		justify-content: center !important;
	}

	&:last-child{
		margin-bottom: 30px;
	}

	img{
		display: block;
		position: relative;
		z-index: 8;
		width: 100%;
	}

	> div:last-child{

		@media (max-width: $tablet-w){
			padding-top: 55px;
		}
	}

	&:nth-child(odd) > div:first-child,
	&:nth-child(even) > div:first-child{

		&:before{
			content: "";
			background: $grey-lighter;
			width: 41vw;
			height: calc(100% + 60px);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 0;

			@media (max-width: $tablet-w){
				width: 87vw;
			}
		}
	}

	&:nth-child(odd){

		> div:first-child:before{
			left: calc((-8.33333 * #{$container-xl} / 100) + ((100vw - #{$container-xl - $gutter-xl * 2}) / -2));

	        @media screen and (max-width: $xlarge - 1) {
	            @include smoothResponsive("left", -235, -300, 1441, 1919);
	        }
	        @media screen and (max-width: $large) {
	            left: calc((-8.33333 * #{$container} / 100) + ((100vw - #{$container - $gutter * 2}) / -2));
	        }
	        @media screen and (max-width: $container) {
	            left: calc(-8.33333 * #{$container} / 100 - #{$gutter});
	        }
		}
	}

	&:nth-child(even){
		justify-content: flex-end;

		@media (min-width: $tablet-w + 1){
			flex-direction: row-reverse;
		}

		> div:first-child:before{
			right: calc((-8.33333 * #{$container-xl} / 100) + ((100vw - #{$container-xl - $gutter-xl * 2}) / -2));
	        
	        @media screen and (max-width: $xlarge - 1) {
	            @include smoothResponsive("right", -237, -300, 1441, 1919);
	        }
	        @media screen and (max-width: $large) {
	            right: calc((-8.33333 * #{$container} / 100) + ((100vw - #{$container - $gutter * 2}) / -2));
	        }
	        @media screen and (max-width: $container) {
	            right: calc(-8.33333 * #{$container} / 100 - #{$gutter});
	        }
		}
	}
}

.wrap-row-advantages{
	padding-left: 45px;

	@media (max-width: $tablet-w){
		padding-left: 0;
	}

	> .row{
		padding: 62px 0;
		margin: 0 0 30px;
		position: relative;

		@media (max-width: $tablet-w){
			padding-bottom: 25px;
			margin-bottom: 50px;

			&:last-child{
				margin-bottom: 0;
			}
		}

		.small-title{ 
			width: 80%; 
			margin: 0;

			@media (max-width: $tablet-w){
				margin-bottom: 35px;
			}
		}

		p,
		h3{
			@media (max-width: $tablet-w){
				margin-top: 35px;
			}
		}
		h3 + p {
			@media (max-width: $tablet-w){
				margin-top: 0;
			}
		}

		> div:nth-child(2){
			&:after{
				content: "";
				width: 1px;
				height: 145px;
				position: absolute;
				right: -5px;
				top: 50%;
				transform: translateY(-50%);

				@media (max-width: $tablet-w){
					width: calc(100% - 30px);
					height: 2px;
					left: 0;
					right: 0;
					margin: 0 auto;
					top: 100%;
					opacity: 0.4;
					transform: none;
				}
			}
		}

		.icon-advantage{
			position: absolute;
			width: 72px;
			height: 72px;
			background: $grey-lighter;
			border-radius: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);

			@media (max-width: $tablet-w){
				width: 55px;
				height: 55px;
				top: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				transform: translateY(-50%);
			}

			&:before{
				content: ""; 
				position: absolute; 
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				border-radius: 50%;
				border: 3px solid $purple;
				transform: scale(0.85);
				box-sizing: border-box;

				@media (max-width: $tablet-w){
					border-width: 2px;
				}
			}

			img{
				max-width: 100%;
				position: absolute;
				max-width: 50%;
				max-height: 52%;
				top: 50%;
				left: 0;
				right: 0;
				margin: 0 auto;
				transform: translateY(-50%);
			}
		}

		&:nth-child(odd){
			background: $purple;
			color: #fff;

			.small-title, p{ color: #fff; }

			> div:nth-child(2):after{
				background: #a796bf;
			}
		}

		&:nth-child(even){
			background: #fff;
			color: $purple;

			.small-title, p{ color: $purple; }

			> div:nth-child(2):after{
				background: $purple;
			}
		}
	}
}
