.header-nav-profile .dropdown,
.portlet-dockbar .dropdown {
  padding: 0;
}
/* line 197, /Users/kkashaev/work/plussell/assets/css/less/materialadmin/header.less */
.header-nav-profile .dropdown > a,
.portlet-dockbar .dropdown > a {
  position: relative;
  min-height: 64px;
  min-width: 210px;
  padding: 12px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
/* line 205, /Users/kkashaev/work/plussell/assets/css/less/materialadmin/header.less */
.header-nav-profile .dropdown > a:after,
.portlet-dockbar .dropdown > a:after {
  content: "\f107";
  position: absolute;
  *margin-right: .3em;
  right: 10px;
  top: 22px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
/* line 218, /Users/kkashaev/work/plussell/assets/css/less/materialadmin/header.less */
.header-nav-profile .dropdown > a .ink,
.portlet-dockbar .dropdown > a .ink {
  background-color: rgba(83, 87, 88, 0.15);
}
/* line 222, /Users/kkashaev/work/plussell/assets/css/less/materialadmin/header.less */
.header-nav-profile .dropdown img,
.portlet-dockbar .dropdown img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
/* line 227, /Users/kkashaev/work/plussell/assets/css/less/materialadmin/header.less */
.header-nav-profile .dropdown .profile-info,
.portlet-dockbar .dropdown .profile-info {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px 0 10px;
  line-height: 15px;
  min-width: 100px;
  max-width: 300px;
}
/* line 234, /Users/kkashaev/work/plussell/assets/css/less/materialadmin/header.less */
.header-nav-profile .dropdown .profile-info small,
.portlet-dockbar .dropdown .profile-info small {
  display: block;
  opacity: 0.5;
}
/* line 241, /Users/kkashaev/work/plussell/assets/css/less/materialadmin/header.less */
.header-nav-profile .dropdown .dropdown-menu,
.portlet-dockbar .dropdown .dropdown-menu {
  min-width: 100%;
}
/* line 246, /Users/kkashaev/work/plussell/assets/css/less/materialadmin/header.less */
.header-nav-profile .dropdown.open,
.portlet-dockbar .dropdown.open {
  color: #313435;
}
/* line 249, /Users/kkashaev/work/plussell/assets/css/less/materialadmin/header.less */
.header-nav-profile .dropdown.open > a,
.portlet-dockbar .dropdown.open > a {
  margin-top: 6px;
  padding: 6px 12px 12px 12px;
  min-height: 58px;
  background-color: #fff;
  border-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}
/* line 257, /Users/kkashaev/work/plussell/assets/css/less/materialadmin/header.less */
.header-nav-profile .dropdown.open > a:after,
.portlet-dockbar .dropdown.open > a:after {
  top: 16px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
/* line 262, /Users/kkashaev/work/plussell/assets/css/less/materialadmin/header.less */
.header-nav-profile .dropdown.open .dropdown-menu,
.portlet-dockbar .dropdown.open .dropdown-menu {
  margin-top: -1px;
  border-top: none;
}