// Typography mixins
// --------------------------------------------------


// Guards
// -------------------------

@mixin textshadowguard($color, $size:0 1px 2px, $shadow-color:#000000)  {
  @if (lightness($color) >= $color-threshold) {
    text-shadow: $size $shadow-color;
  }
  @else if (lightness($color) < $color-threshold) {
    text-shadow: none;
  }
}


// Contrast
// -------------------------

@mixin color-contrast-soft($color) {
	color: contrast($color, hardlight($color, #5e5e5e), screen($color, #a6a6a6), $color-threshold);
}


// Saturate
// -------------------------

@mixin saturate($percentage) {
	filter: saturate($percentage);
	// Browser Specific
	-webkit-filter: saturate($percentage);
	-moz-filter: saturate($percentage);
	-o-filter: saturate($percentage);
	-ms-filter: saturate($percentage);
}


// Text variants
// -------------------------

@mixin text-variants($name, $color) {
	.#{$name} {
		color: $color;
	}
	.#{$name}-track {
		border-color: $color;
	}
}