.block-illu {
	height: 0;
	padding-top: 100%;
	position: relative;
	margin: 15px 0;

	@media screen and (max-width: $mobile) {
		padding-top: 85%;
	}

	a {
		@include boxShadowHover;

		@include absoluteBox;

		background-color: $grey-light;

		transition: background 0.35s ease;

		.desktop &:hover {
			background-color: #fff;

			img {
				transform: scale(0.96);
			}
		}
	}

	&__inner {
		height: 100%;
		position: relative;
		
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient($grey, $grey); // fix overflow
	}

	&__content {
		height: 100%;
		padding-top: 160px;

		transform: none; // for anim--fade only on opacity
		
		@media screen and (max-width: $tablet-h) {
			padding-top: 100px;
		}
		@media screen and (max-width: $tablet-w) {
			padding-top: 40%;
		}
		@media screen and (max-width: $mobile) {
			padding-top: 42.5%;
		}
	}

	img {
		position: absolute;
		/*bottom: calc(100% - 160px);*/
		bottom: 57%;
		width: 95%;
		max-width: none; 
		/*left: -2.5%;*/
		left: 0;
		right: 0;
		margin: 0 auto;

		transition: transform 0.75s ease;

		@media screen and (max-width: $tablet-h) {
			bottom: calc(100% - 100px);
		}
		@media screen and (max-width: $tablet-w) {
			bottom: 60%;
		}
		@media screen and (max-width: $mobile) {
			bottom: 50%;
		}
	}

	p {
		@include vertical-align;
		width: 50%;
		margin: 0 auto;
		text-align: center;
		font-size: 2.3rem;
		color: $purple;

		@media screen and (max-width: $tablet-h) {
			width: 100%;
			padding: 0 20px;
		}
	}


	&-list {
		margin-top: 40px;
		margin-bottom: 15px;

		@media screen and (max-width: $mobile) {
			margin-top: 0;
		}
	}
}