.block-thumb {
	background-color: #fff;

	height: 470px;

	@media screen and (max-width: $tablet-h) {
		height: 440px;
	}
	@media screen and (max-width: $tablet-w) {
		height: 470px;
	}
	@media screen and (max-width: $mobile) {
		height: 440px;
	}
	
	.desktop &:not(.block-thumb--line) {
		a:hover {
			.block-thumb__img {
				img {
					transform: translate(-50%, -50%) scale(1);
				}
			}

			.block-thumb__content {
				transform: translateY(-85px);
			}

			.excerpt {
				@include autoAlpha(1);
				transition-duration: 0.35s;
				transition-delay: 0.08s;
			}
		}
	}

	a {
		display: block;
		height: 100%;

		@include boxShadowHover;
	}

	&__img,
	&__content {
		height: 50%;
	}

	&__img {
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient($grey, $grey); // fix overflow

		@media screen and (max-width: $tablet-h) {
			height: 41%;
		}
		@media screen and (max-width: $tablet-w) {
			height: 44%;
		}
		@media screen and (max-width: $mobile) {
			height: 35%;
		}

		img {
			min-width: 100%;
			min-height: 100%;
			position: relative;
			top: 50%;
			left: 50%;

			object-fit: cover;
	
			transform: translate(-50%, -50%) scale(1.05);
			transition: transform 0.75s ease;

			.mobile &,
			.tablet & {
				transform: translate(-50%, -50%);
			}

			.edge &,
			.ie & {
				width: 100%;
				height: auto;
				min-height: auto;

				&.block-thumb__placeholder {
					height: 100%;
					width: auto;
					max-width: none;

					@media screen and (min-width: 1500px) {
						width: 100%;
						height: auto;
						min-height: auto;
					}
				}
			}
		}
	}

	&__content {
	    padding: 60px 80px 30px;
	    background-color: #fff;
		
		@include flex(flex-start, flex-start, column);
	 
	    transition: transform 0.5s $Power2EaseOut;
		
		@media screen and (max-width: $xlarge - 1) {
			padding: 55px 55px 30px;
		}
	    @media screen and (max-width: $desktop) {
	    	padding: 45px 45px 30px;
	    }
	    @media screen and (max-width: $tablet-h) {
	    	height: 59%;
	    	padding: 35px 35px 5px;
	    }
	    @media screen and (max-width: $tablet-w) {
	    	height: 56%;
	    }
	    @media screen and (max-width: $mobile) {
	    	height: 65%;
	    	padding: 30px 20px 0;
	    }
	}

	&__text {
		position: relative;
		width: 100%;
	}

	.small-title {
		color: #000; 
		line-height: 1.4;
		hyphens: auto;
		margin-bottom: 15px;

		@media screen and (max-width: $mobile) {
			font-size: 1.8rem;
		}
	}

	.excerpt {
		color: $grey-darker;
		hyphens: auto;

		position: absolute;
		@include autoAlpha(0);
		transition: visibility 0.1s $Power2EaseOut, opacity 0.1s $Power2EaseOut;
		
		body:not(.desktop) & {
			display: none;
		}
	}

	.category {
		@media screen and (max-width: $mobile) {
			margin-bottom: 15px;
		}
	}
	
	&--left {
		height: 230px;
		margin: 0;

		@media screen and (max-width: $mobile) {
	    	height: auto;
	    }

		.desktop & {
			a:hover {
				.block-thumb__img {
					img {
						transform: translate(-50%, -50%) scale(1);
					}
				}
			}
		}

		a {
			display: flex;
		}

		.block-thumb {
			&__img,
			&__content {
				width: 50%;
				height: 100%;
			}
			
			&__content {
				@media screen and (max-width: $tablet-h) {
					padding-bottom: 15px;
				}
				@media screen and (max-width: $tablet-w) {
					width: 100%;
				}
				@media screen and (max-width: $mobile) {
			    	padding-top: 40px;
			    }
			}

			&__img {
				@media screen and (max-width: $tablet-w) {
					display: none;
				}

				img {
					width: auto;
					min-width: 100%;
					max-width: none;
					min-height: 100%;
					
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) scale(1.05);

					body:not(.desktop) & {
						transform: translate(-50%, -50%);
					}
				}
			}
		}
	}

	&--big {
		height: 100%;

		.block-thumb__content {
			justify-content: flex-end;
			padding: 25px 50px;

			@media screen and (max-width: $tablet-h) {
				padding: 15px 35px;
				height: 55%;
			}
		}
		.block-thumb__img {
			height: 45%;
		}

		.small-title {
			font-size: 2.3rem;
		}
	}

	&--list {
		height: 530px;
		margin-bottom: $gutter;

		@media screen and (max-width: $desktop) {
			height: 510px;
		}
		@media screen and (max-width: $tablet-h) {
			height: 530px;
		}
		@media screen and (max-width: $tablet-w) {
			height: 460px;
		}

		.block-thumb {
			&__img {
				height: 53%;

				@media screen and (max-width: $tablet-w) {
					height: 48%;
				}
				@media screen and (max-width: $mobile) {
					height: 47%;
				}
			}
			&__content {
				padding-top: 59px;
				height: 47%;

				@media screen and (max-width: $xlarge - 1) {
					padding-top: 49px;
				}
				@media screen and (max-width: $desktop) {
					padding-top: 45px;
				}
				@media screen and (max-width: $tablet-h) {
					padding-top: 44px;
				}
				@media screen and (max-width: $tablet-w) {
					height: 52%;
				}
				@media screen and (max-width: $mobile) {
					height: 53%;
					padding: 40px 35px 10px;
				}
			}
		}
	}


	&--col {
		@media screen and (max-width: $tablet-w) {
			margin-bottom: $gutter;
		}
	}
}