.breadcrumbs{
	display: inline-block;
	position: absolute;
	z-index: 9;
	top: 20px; left: 30px;

	@media (max-width: $tablet-w){
		left: 12px;
	}
	@media screen and (max-width: $mobile) {
		display: none;
	}

	.breadcrumbs__elem{
		border: 1px solid #000;
		text-transform: uppercase;
		border-radius: 20px;
		padding: 10px 23px;
		color: #000;
		font-size: 1.2rem;
		margin: 0 5px 8px;
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 0.06rem;
		transition: color .3s, background .3s, border-color .3s;

		&.breadcrumbs__elem--home{ 
			border: 0; 
			font-size: 18px;
			padding: 0 3px;
			margin-right: 9px;
			margin-bottom: 5px;

			svg {
				stroke: #000;
				fill: $grey-lighter;
				transition: all .3s;
			}

			&:hover {
				svg {
					stroke: $purple;
					fill: $purple;
				} 
			}

			.ie & {
				height: 26px;
			}
		}

		&.breadcrumbs__elem--active{ 
			/*opacity: 0.55; */
			color: #7a7a7a;
			border-color: #7a7a7a;
			pointer-events: none; 
		}

		&:not(.breadcrumbs__elem--home):not(.breadcrumbs__elem--active):hover{
			color: #fff;
			background: $purple;
			border-color: $purple;
		}
	}

	&.breadcrumbs--light{

		.breadcrumbs__elem{
			border-color: #fff;
			color: #fff;

			&.breadcrumbs__elem--active{ 
				color: #bda0e7;
				border-color: #bda0e7;
			}

			&:not(.breadcrumbs__elem--home):not(.breadcrumbs__elem--active):hover{
				color: $purple;
				background: #fff;
				border-color: #fff;
			}

			&--home {

				svg {
					stroke: #fff;
					fill: transparent;
				}

				&:hover {
					svg {
						stroke: #fff;
						fill: #fff;
					}
				}
			}
		}
	}
}