.list-posts {
	margin-top: 10px;

	@media screen and (max-width: $mobile) {
		margin-top: 0;
	}

	&__row {
		@media screen and (max-width: $tablet-w) {
			flex-wrap: nowrap;
			width: 100%;
			margin: 0;
		}
	}
	
	&__slide {
		@media screen and (max-width: $tablet-w) {
			max-width: calc(100% - #{$gutter * 2});
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
		@media screen and (max-width: $mobile) {
			max-width: calc(100% - 30px);
			padding-right: 10px;
			padding-left: 10px;
		}

		&.swiper-slide-active {
			.block-post__text {
				&:after {
					@include autoAlpha(1);
				}
			}
		}

		// FIX for IOS bug height 100% of Flex parent
		.mobile.safari & {
			display: flex;
			.block-post {
				width: 100%;
				height: auto;
				background-color: #fff;
			}
		}
	}

	&__pagination,
	&__nav-buttons {
		display: none;

		@media screen and (max-width: $tablet-w) {
			display: block;
		}
	}

	.block-post {
		@media screen and (max-width: $tablet-w) {
			margin-bottom: 0;
		}

		&,
		a {
			@media screen and (max-width: $tablet-w) {
				height: 100%;
			}
		}

		.excerpt {
			@media screen and (max-width: $tablet-w) {
				margin-bottom: 0;
			}
		}
		&__text {
			@media screen and (max-width: $tablet-w) {
				padding-bottom: 30px;
			}
			@media screen and (max-width: $mobile) {
				padding: 30px 20px;
			}
		}
	}
}