.wrap-social{ 
	display: inline-block; 

	@media (max-width: $tablet-w){
		display: block;
		text-align: left;
	}

	&__inner {
		position: absolute;
		right: 0;
		
		@media screen and (max-width: $large) {
			transform: translateX(calc((100vw - #{$container})/2 + (100vw - 10/12 * #{$container - $gutter})/-4 + 50%)); // centré sur l'espace qui reste à droite du contenu
		}
		@media screen and (max-width: $container) {
			transform: translateX(calc((100vw - 10/12 * (100vw - #{$gutter}))/-4 + 50%));
		}
		@media screen and (max-width: $tablet-h) {
			position: static;
			transform: none;
		}
	}

	&--share {
		@media screen and (max-width: $tablet-h) {
			display: block;
			text-align: center;

			margin-top: 50px;
		}
	}
}

.social{
	&:not(.mobile-nav--socials) {
		display: inline-block;	

		@media (max-width: $tablet-w){
			display: block;
		}	
	}

	.social__elem{ padding: 0; }
	.social__elem:before{ display: none; }

	/* Generic social links */
	a{
		display: block;
		position: relative;
		color: $purple;
		font-size: 18px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		text-align: center;
		transition: all .3s;

		&:before{	
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0; right: 0;
		}

		.desktop &:hover{ color: $purple-light; }

		&.icon-link{ font-size: 23px; }
		&.icon-twitter{ font-size: 16px; }
		&.icon-facebook,
		&.icon-youtube,
		&.icon-instagram{ font-size: 21px; }
	}

	/* Specific styles row / column */
	&.social--row{
		margin: 0;

		.social__elem{
			display: inline-block;
			vertical-align: bottom;
			list-style: none;
			padding: 0 2px;

			.block--content & a{
				
				@media (max-width: $desktop) {
					width: 48px;
					height: 48px;

					&.icon-link{ font-size: 21px; }
					&.icon-twitter{ font-size: 15px; }
					&.icon-facebook,
					&.icon-youtube,
					&.icon-instagram{ font-size: 19px; }
				}
			}

			&:last-child{ padding-right: 0; }

			a{
				.desktop &:hover{ background-color: $grey-lighter; }
			}
		}
	}

	&.social--column{
		margin: 0;

		.social__elem{
			display: block;
			margin-bottom: 10px;

			.wrap-social--share & {
				@media screen and (max-width: $tablet-h) {
					display: inline-block;
					padding: 0 3px;
				}
			}
 
			a{
				/*border: 1px solid $grey-light;*/

				&.anim--border{
					svg.circle circle{
						stroke-dashoffset: 0;
						transition-duration: 0.9s;
						transition-timing-function: $Power0EaseNone;
					}
				}

				.desktop &:hover{
					background: $grey-light;
					border-color: $grey-light;
				}
			}

			@media (max-width: $tablet-w){
				display: inline-block;
				padding: 0 3px;
			}
		}
	}
}

.copy-link {
	&-success {
		display: none;
	}
}